[2018-04-05 04:28] Lebo-Wang opened #1 "Your setting of the conv dilation rate"
Your conv_1d setting is:
`atrous_rate=2 ** i, i is from [1, 2, 4, 8]
`
That means you want to make the dilatations of conv1d as
`atrous_rate=[2, 4, 16, 256]`

My sequence is 100 time-steps. As my guessing, the dilation_rate over 100 cannot be fully effective. But I tried:
`atrous_rate=2 ** i, i is from [1, 2, 3, 4, 5, 6]
`
or
`atrous_rate=2 ** i, i is from [1, 2, 4, 6]
`
Only your configuration wi

[2018-04-06 01:13] philipperemy commented on #1
@Lebo-Wang I'll have to dig a bit more into this to explain this behavior.

But I think adding more than less is better. You always want to make sure that the receptive field covers all the sequence.

What you can also do as a test (I also plan to do it) is to train on a sequence like this:

x = `[1.0, 0.0, 0.0, 0.0, 0.0, ...., 0.0, 0.0, 0.0, 0.0]` y = `[1.0]`
x = `[0.0, 0.0, 0.0, 0.0, 0.0, ....,

[2018-04-06 01:44] Lebo-Wang commented on #1
@philipperemy Thanks for the reply! I think you are always right to make the receptive field larger. But according to my understanding and reference, e.g:
`dilations = [2**i for i in range(N)] * M`
[https://github.com/ibab/tensorflow-wavenet/blob/e11ad19dccd6a33a182c9d1dea07aa53b9acca55/wavenet/model.py#L35](url)
Also, if the receptive field is larger than the sequence length, I guess this overflo

[2018-04-06 21:44] Lebo-Wang commented on #1
@philipperemy I keep testing all kinds of dilation_rate combinations on my own dataset, whose length is 100. The only difference for the architecture is that I return the classification result in every step and get the average result for the final classification (instead of only depending on the last one result). Also, I use Batchnorm layers to make the model easier to train. Here are some results

[2018-04-22 13:08] huvar opened #2 "Dilation rate vs dilations argument"
Hi,

In your examples the dilations are dilatations=[1, 2, 4, 8]. This is in fact in-line with the imageof the example from WaveNet.
![WaveNet Example](https://raw.githubusercontent.com/philipperemy/keras-tcn/master/misc/Dilated_Conv.png)
However this will lead to a dilation rate of 2**dilations, which implies the first dilation is 2 instead of 1. Is this a mistake? is there any reason why a dilat

[2018-04-23 09:30] philipperemy commented on #2
The image does not reflect exactly the example in the code.

You are right here. You can just pass `dilatations=[0, 1, 2, 3, 4]` and you would fall back to just having a dilatation_depth equal to 5.

There's no reason why a `dilation_depth` is not used.

[2018-04-23 09:30] #2 closed

[2018-04-23 09:38] philipperemy commented on #1
@Lebo-Wang very interesting.

Do you think it would be more reasonable to have:

[code]

[2018-04-23 16:02] Lebo-Wang commented on #1
@philipperemy Yes, I think so. Most of the TCN is like this, where 2 is the kernel size.

[2018-04-23 16:16] philipperemy commented on #1
Ok I'm going to implement that. Thanks for the feedback. Highly appreciated :)

[2018-05-15 15:31] thoppe opened #3 "Missing num_classes in regression example"
Testing the regression example from the README,

[code]

gives the error

[code]

[2018-05-17 01:18] philipperemy commented on #3
Hum `num_classes` parameters is present: https://github.com/philipperemy/keras-tcn/blob/5a33fa7b199870b9ce4607f7ccf2e35e887813eb/tcn/tcn.py#L42

Maybe you should:

[code]

Let me know if error still persists.

Thanks

[2018-05-17 14:03] thoppe commented on #3
Hi @philipperemy , it's still an issue (the latest version was already installed). Here is a full example:

[code]

[code]

I think this is coming from the fact that if `regression=True`, you shouldn't expect a value for `num_classes` (and [looking at the code](https://github.com/philipperemy/keras-tcn/blob/master/tcn/tcn.py) that seems to be the case). However, `num_classes` is a positional argum

[2018-05-17 14:08] philipperemy commented on #3
@thoppe thank you so much, very looking forward to your PR if you can issue one :)

[2018-05-17 14:49] thoppe opened #5 "Deprecation warnings in keras layers"
Running

[code]

gives the Warnings

[code]

[2018-05-21 11:12] joelrich opened #7 "Regression many to many"
I have tried to use your library to do a many to many regression, which does not seem to be supported out of the box. Would you mind to indicate what has to be changed for this use case?

[2018-05-23 20:33] thoppe commented on #3
A PR has been issued.

[2018-05-23 20:33] thoppe commented on #5
A PR has been issued.

[2018-05-23 23:43] philipperemy commented on #3
@thoppe thank you very much! I'm just waiting for my GPUs to test it and I'll merge it :)

[2018-05-27 07:10] philipperemy commented on #3
Merged thanks :)

[2018-05-27 07:10] #3 closed

[2018-05-27 07:49] philipperemy commented on #5
Now testing it :)

[2018-05-27 10:51] philipperemy commented on #5
Merged.

[2018-05-27 10:51] #5 closed

[2018-05-27 10:54] philipperemy commented on #7
@joelrich in your case, you should probably use a TimeDistributed layer to make inference for more than one step ahead. Assuming you're predicting sequences.

https://keras.io/layers/wrappers/

If you're just predicting independent variables, then a Dense(nb_classes) without a softmax would also work I guess.

[2018-05-27 10:54] #7 closed

[2018-05-27 10:54] philipperemy commented on #7
(Feel free to reopen it if it's unclear)

[2018-05-28 09:43] joelrich commented on #7
@philipperemy thank you. I got it running by adjusting `Dense(1)` in the following lines:
[code]

[2018-05-28 10:14] philipperemy commented on #7
@joelrich ok that will work in all the cases. You have to keep in mind that it won't be optimal if you have a time-dependency in what you predict.

[code]

If you have a sequence, it's usually better to model and consider this likelihood:
[code]

[2018-05-28 17:14] joelrich commented on #7
@philipperemy currently, I am predicting independent values. Thanks for the advice anyway (might be relevant later on).

[2018-06-11 05:22] alextheseal opened #8 "Size of receptive field"
Hi Phillippe, thanks for doing this code, it is very helpful and works well.

I am doing time series prediction so can choose a sequence as long or as short as I want for the TCN to work with. What I am not clear on is how the kernel size, dilation values and number of stacks interact to determine the receptive field size.

For example, if I have a kernel size=8, dilation values of [1,2,4,8] and s

[2018-06-20 15:24] jc114 opened #9 "Confused about nb_stacks"
I'm reading the code and I'm just a little confused about the below lines:
for s in range(nb_stacks):
        for i in dilatations:
            x, skip_out = residual_block(x, s, i, activation, nb_filters, kernel_size)

What is the interpretation of this? In the paper, I had thought that each layer would have its own dilation rate, typically 2 ** i for the ith layer. What is happening here?

[2018-06-25 04:40] alextheseal commented on #9
I'm a bit confused about it too, but my understanding is that you can stack up the TCN blocks, increasing the receptive field as you do. So for a single stack, if the kernel size was 2, the dilations were [1,2,4,8], you would get the situation in the image below:

<img width="1298" alt="screen shot 2018-06-25 at 11 59 10 am" src="https://user-images.githubusercontent.com/40159126/41830054-10e56fda

[2018-07-20 06:02] philipperemy commented on #9
@alextheseal I wrote that some times ago but it looks correct.

[2018-07-20 06:03] alextheseal commented on #9
Thanks!

[2018-07-20 06:13] philipperemy commented on #8
@alextheseal I really don't have much time working on that now :/ Could you find an answer?

[2018-07-20 06:14] alextheseal commented on #8
I'll dig through the dilated convolution code in Keras and see if I can figure it out.

[2018-07-20 06:17] philipperemy commented on #8
Thanks! I'll probably be able to help in one or two weeks. Been quite busy with other projects.

[2018-08-20 04:19] nbertagnolli opened #11 "function comments"
I really like this implementation : ).  I pulled this down and took the time to understand it.  I added a bunch of comments to the functions, do you have any interest in me opening a pull request?

[2018-08-22 21:29] issa-s-ayoub opened #12 "Shouldn't the normalization layer come before the Relu activation?"
https://github.com/philipperemy/keras-tcn/blob/c6799257842cf65ee5fd46a921d4c50c9d1b9b87/tcn/tcn.py#L30

I can find that in the original paper, the normalization layer comes before the Relu activation layer. Why this isn't the case here?

Thank you!!

[2018-08-22 21:30] issa-s-ayoub commented on #11
Yea adding the comments will be very helpful!!

[2018-08-24 01:36] philipperemy commented on #11
@nbertagnolli yeah sure go ahead!

[2018-09-04 02:34] philipperemy commented on #11
Merged https://github.com/philipperemy/keras-tcn/commit/7e48d5c722f39138f1766a25403f96ea72f4bd5a

Thanks again

[2018-09-04 02:34] #11 closed

[2018-09-05 01:52] philipperemy commented on #12
First, I replaced weight normalization with layer normalization. They won’t be the same, but should have similar effects in stabilizing training.

You cannot place weight normalization after ReLU because it normalizes the cell weights, as the name suggested, not the cell output.

As the author of the paper stated, this TCN architecture really aims to be a simple baseline that you can improve upon.

[2018-09-05 01:52] #12 closed

[2018-09-05 15:37] philipperemy commented on #8
@alextheseal thanks for the visuals. I could finally work on the project again and I updated the code. In your case, with kernel size=8, dilation values of [1,2,4,8] and stacks=3, the receptive field will 8 * 8 * 3 = 192.

[2018-09-05 15:37] #8 closed

[2018-09-05 15:38] philipperemy commented on #9
Yeah I updated the code to reflect this. It was a bit confusing sorry about that :)

[2018-09-05 15:38] #9 closed

[2018-09-05 15:40] philipperemy commented on #9
I'll update it again to incorporate only one single parameter for the dilations: `N`
[code]
So that when we specify N=4, it would mean [0, 1, 2, 4, 8]

[2018-09-06 02:10] philipperemy commented on #1
Done in https://github.com/philipperemy/keras-tcn/commit/b6bec26c74ec692d0dccc3e487465002fbb8ad7c

Thanks a lot :)

And sorry for the delay!

[2018-09-06 02:10] #1 closed

[2018-09-12 09:00] jkhlot opened #16 "Investigate use_skip_connections"
I refer to  **TemporalBlock** in https://github.com/locuslab/TCN/blob/master/TCN/tcn.py
I found some slight difference in code  https://github.com/philipperemy/keras-tcn/blob/master/tcn/tcn.py.
[code]

i think it should be:
`
 if use_skip_connections:
        x = keras.layers.add([skip_connections,x])
`
if i am wrong , pls correct me . Thanks

[2018-09-18 10:38] philipperemy commented on #16
@jkhlot you might be right. I'll have to check at the code :)

[2018-09-21 02:38] philipperemy commented on #16
@jkhlot noted! Going to have a look at those two points. Thanks for reporting :)

[2018-09-26 12:00] Payback80 opened #17 "compatibility with plaidml backend"
Hello i use plaidml as keras backend because it supports AMD graphics cards

there are two issues with your implementation
1) spatialdropout is not supported by plaidml so
x = SpatialDropout1D(dropout_rate, name='spatial_dropout1d_%d_s%d_%f' % (i, s, dropout_rate))(x)
will not work
https://github.com/plaidml/plaidml/issues/165

2) it seems that keras.backend.max isn't implemented too

If you don't

[2018-09-27 01:03] philipperemy commented on #17
@Payback80 yes sure.

1. Instead of SpatialDropout1D you can simply use Dropout. It will be slightly different but results should be the same.
2. We apply max() in the channel normalization. In that case you may use BatchNormalization!

[2018-09-28 00:17] eggpan95 opened #18 "code issue (process_dilations)"
Hi, first of all, thanks for your code sharing.
Guessing your intentions, the following expression may be appropriate.

def process_dilations(dilations):
    ...
    else:
        new_dilations = [2 ** i for i in dilations]
 --> new_dilations = [2 ** i for i in range(len(dilations))]

[2018-09-28 04:47] philipperemy commented on #18
I think it's correct.

The idea is that you either give something like:

- case of power of 2: [1, 2, 4, 8, 16, 32, 64]. In that case you just use them as it is.
- range(5). In that case you would do [2 ** i for i in dilations] = [1, 2, 4, 8, 16].

[2018-09-28 04:49] #18 closed

[2018-10-12 01:04] philipperemy commented on #16
@jkhlot is there a particular why you closed this issue?

[2018-10-25 15:29] HighPerformance01 opened #21 "copy_memory example issue"
Hi all,

I think there is an issue in copy_memory example

It is giving below error without any change to the code:

InvalidArgumentError: Incompatible shapes: [158976] vs. [256,621]

[2018-10-26 03:09] philipperemy commented on #21
@HighPerformance01 good catch!

[2018-10-26 04:58] philipperemy commented on #21
@HighPerformance01 yeah currently investigating!

[2018-10-26 05:31] philipperemy commented on #21
I added a hotfix here:

https://github.com/philipperemy/keras-tcn/commit/ca58d37cd7a3b70b9152413fa5d04b993e58fdfd

You can just

[code]

and it will work.

I'll remove it later when it's packaged inside Keras.

[2018-10-26 05:31] #21 closed

[2018-10-26 05:54] philipperemy commented on #16
Regarding the wavenet activations,
- https://github.com/basveeling/wavenet/blob/bf8ef958372692ecb32e8540f7c81f69a186eb8d/wavenet.py#L235

Looks pretty similar to the one, no? tanh(x) * sigmoid(x)

[2018-10-26 05:54] philipperemy commented on #16
Regarding the skip connections,
- https://arxiv.org/pdf/1609.03499.pdf
It does not seem that the final output x is merged with the skip connections. I might be wrong.

[2018-10-26 07:44] HighPerformance01 commented on #21
thank you very much for the quick resolution

[2018-10-26 09:38] philipperemy commented on #21
You are welcome! Happy I could help on that!
Also if the copy memory gets stuck at 0.9856 in accuracy, it's normal. It sometimes happens.
Just re-run the task a few times and you'll get a successful run. Or just wait a long time and the model will somehow find the optimum.

[2018-11-02 06:12] nuges01 opened #22 "Keras and Tensorflow Versions"
Hi,

Which versions of Tensorflow and Keras was this tested on? I keep getting issues that I think are related to incompatible version.

[2018-11-02 07:15] Caisho opened #23 "Can TCN be used in an autoencoder?"
Can this be used as a layer in an autoencoder by stacking the TCN layers? Or would you need to do UpSampling1D ?

[2018-11-02 07:47] nuges01 commented on #22
Never mind. I got it to work with Keras==2.1.6 and TF==1.8.0

[2018-11-02 07:47] #22 closed

[2018-11-02 07:56] philipperemy commented on #23
TCN is a combination of layers and is not considered as a layer. For example you cannot do:
[code]

This is not possible. But of course you can add it inside an autoencoder. Just build your graph like you would for any other model.

[2018-11-03 08:06] #23 closed

[2018-11-05 02:00] Caisho commented on #23
Ok thanks!

On Sat, Nov 3, 2018 at 4:06 PM Philippe Rémy <notifications@github.com>
wrote:

[2018-11-05 04:35] philipperemy commented on #23
@Caisho welcome!

[2018-11-07 09:42] #16 closed

[2018-11-12 11:51] Rasipuram opened #24 "Keras installation error"
I could install tcn using pip install keras-tcn successfully without any error.
But when I use it as
"from tcn import tcn" the following error gets generated.
File "/Users/sowmyar/anaconda/lib/python2.7/site-packages/tcn/tcn.py", line 95
    print(f'Updated dilations from {dilations} to {new_dilations} because of backwards compatibility.')

[2018-11-15 00:00] philipperemy commented on #24
@Rasipuram Sure use python3.6!

[2018-11-15 00:01] philipperemy commented on #24
Can you please comment this line and tell me if it runs? I've never tested it for python2.7

[2018-11-15 01:33] philipperemy commented on #24
I removed the debug line anyway.

[2018-11-15 01:33] #24 closed

[2018-11-15 04:34] Rasipuram commented on #24
It works for python 3.x. Thank you.

Even if the line is commented, it does not work for python 2.6
Please let me if there is any possible solution for python 2.6.

[2018-11-15 05:48] philipperemy commented on #24
Hum I'm not sure how difficult it would be. Python 2.x is going to be decommissioned soon anyway.

[2018-11-15 07:01] Rasipuram commented on #24
Thank you.

[2018-11-22 08:31] Rasipuram opened #26 "Error in compiled_tcn"
Hi,
The shape of my input data is x_train: (856,119,68), y_train: (856,1)
where 68 are the dimension of the feature vector. I define model like this

model = tcn.compiled_tcn(num_feat=68,
                         num_classes=5,
                         nb_filters=48,
                         kernel_size=68,
                         dilations=[1, 2, 4], #[2 ** i for i in range(9)],

[2018-11-22 10:10] philipperemy commented on #26
@Rasipuram first do the examples in the repository work for you?

[2018-11-22 10:12] philipperemy commented on #26
`num_classes=5,` should not be defined here. It seems to be a regression problem!

So please refer to the example here: https://github.com/philipperemy/keras-tcn/blob/master/tasks/adding_problem/main.py

[2018-11-22 10:13] philipperemy commented on #26
[code]
should be something like that.

`return_sequences=False` !

[2018-11-22 10:13] philipperemy commented on #26
Let me know if you have any trouble.

[2018-11-22 10:13] #26 closed

[2018-11-22 10:35] Rasipuram commented on #26
Thank you. It worked!
Would like to know how it works for a 5-class classification problem.

[2018-11-26 02:21] ziganlan opened #27 "I got inexplicable results on “mnist_pixel”，I didn't find the reason."
I did not modify any parameters, but I got a val_accuracy about 0.11 till many epochs:
55000/55000 [==============================] - 164s 3ms/step - loss: 2.3037 - accuracy: 0.1120 - val_loss: 2.3015 - val_accuracy: 0.1135

Is there any special setting in this example("mnist_pixel")?

ps: I try other examples too, and the result seems good.

[2018-11-26 04:07] ziganlan commented on #27
I got it . The possible reason maybe my input data. The result become good after input data normalization.

[2018-11-27 08:57] philipperemy commented on #27
Yeah it should work correctly :)

Happy to hear that it worked!

[2018-11-27 08:57] #27 closed

[2018-11-29 02:36] #17 closed

[2018-11-29 02:36] philipperemy commented on #17
Inactivity. Please re-open when you have something new!

[2018-12-06 01:26] swilson314 opened #28 "Can this be used with tensorflow.keras?"
Can this be used with tensorflow.keras, i.e., can I use the usual keras -> tensorflow.keras substitution?

[2018-12-06 16:11] swilson314 commented on #28
@philipperemy will do :)

[2018-12-06 22:46] swilson314 commented on #28
@philipperemy Small update, got code running but ran into error. Will keep you updated: https://stackoverflow.com/questions/53660808/stepping-into-python-code-keras-with-visual-studio-2017

[2018-12-06 23:34] swilson314 opened #29 "num_feat documentation out of date?"
This comment in tcn.py doesn't seem to jive with the code:

num_feat: A tensor of shape (batch_size, timesteps, input_dim).

[2018-12-07 01:03] philipperemy commented on #28
@swilson314 seems like tensorflow.keras does not even support CAUSAL....

[2018-12-07 03:33] swilson314 commented on #28
@philipperemy I think maybe it does per below, and the source. My guess is that some pre-validation routine hasn't been updated.

https://www.tensorflow.org/versions/r1.10/api_docs/python/tf/keras/layers/Conv1D

padding: One of "valid", "causal" or "same" (case-insensitive). "causal" results in causal (dilated) convolutions, e.g. output[t] does not depend on input[t+1:]. Useful when modeling tempo

[2018-12-07 05:14] philipperemy commented on #29
Thanks for pointing out! https://github.com/philipperemy/keras-tcn/blob/6d71e1946910748a4fb99ce53b29d312ddfb82b2/tcn/tcn.py#L196

[2018-12-07 05:14] #29 closed

[2018-12-07 23:17] swilson314 commented on #7
@philipperemy I can't decide whether I'm being really dense or this is a nomenclature issue (or both). If I set regression=True and return_sequences=True, isn't this many to many regression?

[2018-12-08 04:30] philipperemy commented on #7
Regression=True => regression task with output = 1
Regression=False => classification task

regression=True and return_sequences=True won't give you a many to many regression.

Many to many is actually not handled properly in the compile_tcn code.

https://github.com/philipperemy/keras-tcn/blob/6d71e1946910748a4fb99ce53b29d312ddfb82b2/tcn/tcn.py#L250

You have to update manually this line.

I'd li

[2018-12-08 07:18] philipperemy commented on #7
@swilson314 yes what you're saying totally makes sense. I'll try to find some time soon to implement this.

[2018-12-08 15:40] swilson314 commented on #7
@philipperemy Haha, my point is I think many to many is already implemented. I'm putting together an example to verify.

[2018-12-09 01:56] philipperemy commented on #7
@swilson314 ok please go ahead ;)

[2018-12-10 21:02] swilson314 commented on #7
@philipperemy I didn't even need to create a new example. I just took the copy_memory example and changed classes=0 and regression=True -- this is a regression problem that has many input time steps and many output time steps.

So I think this is just a nomenclature issue. Per https://machinelearningmastery.com/encoder-decoder-long-short-term-memory-networks/

[2018-12-18 07:24] zm714981790 opened #30 "Add language model in the examples folder"
I want to learn how to process text data using tf.keras and tcn

[2018-12-19 01:38] philipperemy commented on #30
@zm714981790 well you can take an architecture with LSTM and just swap the LSTM layer with the TCN layer.

[2018-12-19 02:51] zm714981790 commented on #30
I means char_cnn  in https://github.com/locuslab/TCN/tree/master/TCN, not use lstm to do language model.

[2018-12-19 04:17] philipperemy commented on #30
@zm714981790 got it. I haven't implemented it but feel free to make a contribution by submitting a pull request :)

[2018-12-20 06:24] zhengwsh opened #31 "Does this project support non-causal TCN ?"
As mentioned in title.

[2018-12-20 06:42] philipperemy commented on #31
Yes https://github.com/philipperemy/keras-tcn#non-causal-tcn

[2018-12-20 06:42] #31 closed

[2018-12-31 06:51] DefinitlyEvil opened #33 "statefull?"
Hello,
I have to apologize that I'm not a math expert, but I wish to implement a GAN network using TCN in the discriminator model to process a generated sequence with dynamic length. Is it possible to make TCN stateful so it can process dynamic length data?

And if yes, is it possible to integrate stateful TCN to seq2seq model?

Thanks so much and I'm very appreciated to you and your project,
Tobi

[2019-01-01 07:13] philipperemy commented on #33
@DefinitlyEvil no problem
You would use stateful only when you don't know the whole sequence in advance. For example, imagine you want to train in a streaming fashion. Data is coming to your system one point at a time. Stateful was designed for that.
In your case, you can train on sequence of different length without a stateful model. Have a look at this example:

https://github.com/philipperemy/k

[2019-01-01 07:13] philipperemy commented on #33
And thanks for your support :)

[2019-01-02 15:30] DefinitlyEvil commented on #33
@philipperemy
Hi, thank you soooo much for your reply. I did look into this example and I found it very helpful.
But dynamic length made it impossible to train on a big batch so it will have terrible efficiency.
I am trying to use it to generate midi music using Bach's pieces by GAN.

I used PrettyMIDI to get a piano roll at 20 samples/sec and fed it into a generator TCN with nb_stacks=4 and defau

[2019-01-03 03:33] philipperemy commented on #33
- Dense(1, 'sigmoid') with a binary_crossentropy loss is exactly the same as Dense(2, 'softmax') with categorical_crossentropy.
- Why do you need a time parameter to generate or not? I think you should simplify the problem first. Like truncate all your MIDI files to a length of 128 and make it work. Then, you can add a bit of complexity.

When GANs generate images, they see the image in its whole.

[2019-01-03 09:12] DefinitlyEvil commented on #33
Ah, thank you, now I think I understood more about GAN networks. I think I'm gonna do more experiences, thanks! ;)

[2019-01-03 12:08] philipperemy commented on #33
Great ;)

[2019-01-03 12:08] #33 closed

[2019-01-07 15:22] Luux opened #34 "Clarify what's happening if dilations=None"
"dilations" is treated as an optional argument that defaults to "None": `tcn.TCN(nb_filters=64, kernel_size=2, nb_stacks=1, dilations=None, activation='norm_relu', padding='causal', use_skip_connections=True, dropout_rate=0.0, return_sequences=True, name='tcn')`

In the readme, it only states "List. A dilation list. Example is: [1, 2, 4, 8, 16, 32, 64]."
and in the `__call__` function of tcn.py it

[2019-01-08 07:55] philipperemy commented on #34
@Luux good catch. I'm going to update that.

[2019-01-09 04:20] philipperemy commented on #34
There's a PR here: https://github.com/philipperemy/keras-tcn/pull/35
I'm testing it on GPUs. When it's ready, I'll merge it.

[2019-01-09 04:41] philipperemy commented on #34
Done. Keras 2.3.5 has been released.

[2019-01-09 04:41] #34 closed

[2019-01-12 01:34] chenwenchang opened #36 "channel_normalization layer"
It seems like that channel_normalization layer is different from the weight norm layer in the paper “An Empirical Evaluation of Generic Convolutional and Recurrent Networks for Sequence Modeling”.

[2019-01-12 01:40] chenwenchang commented on #36
I don't know why

[2019-01-12 11:04] philipperemy commented on #36
@chenwenchang can you make a Pull Request?

[2019-01-12 11:04] philipperemy commented on #36
Thanks for reporting by the way

[2019-01-14 00:57] mchancan opened #37 "Any suggestion to use TCN for more than 1000 classes?"

[2019-01-14 06:38] philipperemy commented on #37
It's extremely vague. Can you be more precise? I guess you should post it in reddit and not here :)

[2019-01-22 11:13] lukeb88 opened #38 "Differences with the paper"
I noticed some differences in the implementation of the architecture compared to the original paper.

I've already come across another issue, where @philipperemy was answering: "As the author of the paper stated, this TCN architecture really aims to be a simple baseline that you can improve upon. So personally I think replicating the exact same results is not that important.".

I just wanted to kn

[2019-02-15 16:17] lingdoc commented on #24
You should probably be clearer on the landing page that this library works best in Python 3. When I tried to load a TCN in Keras using Python 2.7.15 it gave the following error:
[code]

[2019-02-16 09:31] lingdoc commented on #38
Another question: the paper also mentions using Gradient Clipping for language modeling, but I don't see how that is implemented in this architecture. Is there another parameter setting for that?

[2019-02-17 23:55] philipperemy commented on #24
@lingdoc yep thank you I'm going to do that!

[2019-02-17 23:56] philipperemy commented on #38
@lingdoc this is in my TODO list. I'll dig into that when I have a bit of time. In ~1 week from now!

[2019-02-18 00:01] philipperemy commented on #24
https://github.com/philipperemy/keras-tcn/commit/d6f5d8ec7c505637bd3ff43461f9e576826c9ccc

[2019-02-18 10:19] lingdoc commented on #38
btw, great implementation! I'm comparing it with a BiLSTM-CNN variant on a text classification problem and getting similar results with half the runtime.

[2019-02-18 23:49] philipperemy commented on #38
That's great! Thank you :)

[2019-02-19 07:42] sander314 opened #39 "Multiple identical dilations lead to name error"
When using (e.g.)

`tcn = TCN(27,dilations=[1, 1, 1, 2, 4, 8, 16, 32],return_sequences=False)(in1) `

The code gives an error

"The name "tcn_d_causal_conv_1_tanh_s0" is used 3 times in the model. All layer names should be unique."
This is due to the block naming in 'residual_block' not including the layer number, but only the parameters.

[2019-02-20 03:12] philipperemy commented on #39
@sander314 good catch! Going to fix that asap

[2019-02-20 03:40] philipperemy commented on #39
https://github.com/philipperemy/keras-tcn/pull/40
Will be merged soon.

[2019-02-20 03:42] philipperemy commented on #37
One way to deal with it is to consider Hierarchical Softmax.

[2019-02-20 03:42] #37 closed

[2019-02-20 03:50] philipperemy commented on #39
https://github.com/philipperemy/keras-tcn/commit/0ae28a04af891cc01934125154f14a1a47445690

[code]

[2019-02-20 03:50] #39 closed

[2019-02-20 03:58] sander314 commented on #39
Confirmed working, thanks for the quick fix!

[2019-02-21 04:27] Lisandro79 opened #41 "Error "FailedPreconditionError: Attempting to use uninitialized value" saving weights"
Hi Philip,

I am using keras-tcn and it works really well. Thanks for your contribution.

I can save the weights of my model using:

`ModelCheckpoint('weights.h5', save_weights_only=True)`

However, if I use:

`model.save_weights('weights.h5')`

I get the following error:

[code]

It seems as if "conv1d_33" (which is part of the TCN in my model) is considered as "uninitialized" by the method "save

[2019-02-21 13:48] Lisandro79 commented on #41
Hi,

The error seems related to the Jupyter notebook.  I got the same error while running the script but when I reloaded the model from disk the error disappeared...

Also, I can now save the model to disk without any issues. I am not sure why this is happening but it is not related to keras-tcn.

Sorry for the bother.

Cheers

[2019-02-21 13:48] #41 closed

[2019-02-24 16:13] philipperemy commented on #38
Just for info, I'm working on a PR to make the implementation identical to the paper: https://github.com/philipperemy/keras-tcn/pull/42

[2019-02-24 16:13] philipperemy commented on #36
Just for info, I'm working on a PR to make the implementation identical to the paper: https://github.com/philipperemy/keras-tcn/pull/42

[2019-02-24 17:12] philipperemy commented on #38
Merged. Only weight norm is missing
https://github.com/philipperemy/keras-tcn/commit/141ef1c1fdfc2384aec5b24caa2e9624d486d9ef

[2019-02-24 17:12] philipperemy commented on #36
Weight norm is not available in Keras.

https://github.com/philipperemy/keras-tcn/commit/141ef1c1fdfc2384aec5b24caa2e9624d486d9ef

[2019-02-24 17:12] #36 closed

[2019-02-24 17:22] #38 closed

[2019-02-24 17:24] philipperemy commented on #38
@lukeb88 :

1. In the paper, they don't talk about stacking various dilated convolutions (parameter `nb_stacks`):
   I think I understood what you discussed [here](https://github.com/philipperemy/keras-tcn/issues/9), but how this changes instead of just increasing the number of dilations?

=> fixed I set the nb_stacks to 1 for all the examples. Results are the same.

how this changes instead of ju

[2019-02-24 18:41] #28 closed

[2019-02-24 18:42] philipperemy commented on #28
At the moment, it's probably better to just:

[code]

[2019-02-25 09:55] lukeb88 commented on #38
@philipperemy I supposed that the idea of stacking dilated convolution was taken from the Wavenet paper!
Thanks for your clarification...

great work, btw!!!

[2019-02-25 15:12] philipperemy commented on #38
@lukeb88 yeah the idea was taken from wavenet!
Thanks I highly appreciate :)

[2019-02-26 16:22] philipperemy commented on #30
You can refer to this example. It shows how to use TCN on text:

https://github.com/philipperemy/keras-tcn/blob/master/tasks/imdb_tcn.py

[2019-02-26 16:22] #30 closed

[2019-03-05 07:43] HighPerformance01 opened #44 "BatchNormalization"
Hi philipperemy,

After I update tcn to the recent version, the training accuracy reduced tremendously (around from 0.98 to 0.17)

I then uncommented the following line of the code for BatchNormalization and things seems to be back to normal. So this seems to be an important part of tcn

x = BatchNormalization()(x)  # TODO should be WeightNorm here.

Is there a quick fix that going to happen soon?

[2019-03-05 11:20] HighPerformance01 commented on #44
Also, there might be more than BatchNormalization line to the code. The old code (the old tcn code which is around 4 months old seems to be more reliable). However, this is still under testing.

[2019-03-06 15:56] philipperemy commented on #44
@HighPerformance01 I saw that too but in the latest version, I commented out BatchNormalization.

Are you using the latest version?

https://github.com/philipperemy/keras-tcn/blob/83c7ab5a6b84e61448d9d8f502836877cccc93f0/tcn/tcn.py#L35

Thanks for raising this

[2019-03-06 15:57] philipperemy commented on #44
Also I pushed a new code that is very close to the paper, as requested by https://github.com/philipperemy/keras-tcn/issues/38

[2019-03-06 15:59] philipperemy commented on #44
I could run every task (mnist, copy memory and adding problem) with the same accuracy and it seems like the new implementation was a bit better. So very looking forward to hearing more about your case.

[2019-03-06 15:59] philipperemy commented on #44
But first please do:

[code]

[2019-03-12 02:40] philipperemy commented on #44
@HighPerformance01 any updates?

[2019-03-12 03:29] HighPerformance01 commented on #44
Thanks philipperemy for following up.

First, yes I am using the recent code but my data does not work until I uncommented BatchNormalization as follow:

x = BatchNormalization()(x) # TODO should be WeightNorm here.

So for my data, the training does not work without BatchNormalization as far as I can see.

But still, I see very little performance downgrade even after I uncommented BatchNormalizat

[2019-03-12 05:21] philipperemy commented on #44
@HighPerformance01 that's interesting that it does not work without BatchNormalization. Your data must be big and your model deep.

Yes the model is a bit different. Its internal structure is slightly different. You can compare both models in terms of numbers of parameters and adjust the new model to have roughly the same number of parameters as the old one. It's possible that the new model has fa

[2019-03-12 05:24] philipperemy commented on #44
And sorry I misread "commented" with "uncommented" :)

[2019-03-15 12:07] Baichenjia opened #45 "different from the paper"
In `tcn/tcn.py`
[code]
I think the code ` x = Convolution1D(nb_filters, 1, padding='same')(x)` in the penultimate line 3 is not correct. This code want to match the shapes of `prev_x` and `x`. I think it's input should be `prev_x` and not `x`.

Change the last 3 lines to:
[code]

[2019-03-18 03:40] HighPerformance01 commented on #45
Hi philipperemy

Maybe this is related to the little drop to my earlier question (can improve performance)?

Thank you

[2019-03-18 04:50] philipperemy commented on #45
@Baichenjia great catch! Going to change it right now!
@HighPerformance01 will let you know ;)

[2019-03-18 06:00] philipperemy commented on #45
Fixed https://github.com/philipperemy/keras-tcn/commit/81a68051ec40e0dde979fcfedf6461bdfb7f56c9

To get the latest version:
[code]

[2019-03-18 06:00] #45 closed

[2019-03-18 08:16] Baichenjia commented on #45
Thanks to the adoption of comments.

I have written a Github repository named "Tensorflow-TCN" (https://github.com/Baichenjia/Tensorflow-TCN), which is an implementation of *Temporal Convolutional Network* with tensorflow 1.13 (eager execution).

The explanation and graph in this README.md refers to [Keras-TCN](https://github.com/philipperemy/keras-tcn).

I have add links to [Keras-TCN](https://gi

[2019-03-18 09:50] HighPerformance01 commented on #44
Hi philipperemy,

Good news, I noticed a better accuracy using the latest today update tcn even better than any older tcn versions.

For BatchNormalization it seems it is related more to my data so I moved it to my code and used TCN function after that.

I find this repository very useful and I would only suggest not to limit the code to the paper but provide other extensions such as attention mec

[2019-03-19 00:31] philipperemy commented on #44
@HighPerformance01 ,

That's fantastic! I'll keep that in mind.

Attention with TCN might actually be a very good combination!

Thanks again for your help,

[2019-03-19 00:31] #44 closed

[2019-03-21 17:08] twistedmove commented on #31
Hi sorry to bother you, but I didn't see how to change to non-caussal tcn in your codes.

[2019-03-21 23:57] philipperemy commented on #31
Use padding = same or valid
Refer to keras padding convention.
By default padding = causal

[2019-03-22 00:05] philipperemy commented on #31
And yes it was not clear I’m going to add a guideline

[2019-03-22 00:22] philipperemy commented on #31
@twistedmove done

[2019-03-29 02:11] xiaoliaa opened #47 "Your reader"
How to input the feature vector of voice data into TCN? Thank you.

[2019-03-30 01:08] philipperemy commented on #47
What about using a spectrogram with MFCC?

[2019-03-30 01:30] philipperemy commented on #47
I'll close this since it's not an issue of TCN.

[2019-03-30 08:27] #47 closed

[2019-04-05 07:06] diegovargasf opened #48 "ValueError: Error when checking target"
I tried instantiating TCN via the complied_tcn function in this way:
[code]
This is the output from running the line above:
[code]
These are the shapes of my train and test sets:

[in]:   print(train_X.shape, train_y.shape, test_X.shape, test_y.shape)

When I attempt to run fit on the classifier with this line:
[code]
I get this error:

I don't understand where is the shape (1,) coming from, since

[2019-04-09 02:09] philipperemy commented on #48
@diegovargasf ok I found what it came from: I defined the classification loss as: sparse_categorical_crossentropy and not categorical_crossentropy.

Example:
MNIST
targets = [1, 0,0, ...] => use categorical_crossentropy
targets = 0 => use sparse_categorical_crossentropy

[2019-04-09 02:11] philipperemy commented on #48
https://www.dlology.com/blog/how-to-use-keras-sparse_categorical_crossentropy/

That's why it expects output shape of (1,). Instead of having [0, 0, 1, 0], you should input 3.
just do `np.argmax(y, axis=1` and it will work!

[2019-04-09 02:11] philipperemy commented on #48
[code]

[2019-04-09 02:11] philipperemy commented on #48
[code]

[2019-04-09 02:19] philipperemy commented on #48
https://github.com/philipperemy/keras-tcn/commit/822a731aa79daf0f2dc2be474d04b5b1b43e2a06

[2019-04-09 02:19] #48 closed

[2019-04-11 16:06] miccio-dk opened #49 "TCN with spectrograms as input"
Hello everyone,

we'd like to try your TCN layers for speech enhancement task.
Our model is an autoencoder which takes ~270ms of spectrogram data (noisy speech)with dimensionality (F, T, C) where:
- F is the number of frequency bins: 256
- T is the number of stft() frames: 16
- C is the number of channels: 1, but could be more
The output has the same dimensionality of the input and is supposed to

[2019-04-12 07:37] philipperemy commented on #49
I've updated the documentation: https://github.com/philipperemy/keras-tcn/blob/master/README.md#output-shape

keras.LSTM and TCN should interchangeable. They follow the same logic and same input/output.

So if your code works for LSTM, it will work for TCN.

[2019-04-14 14:36] miccio-dk commented on #49
Alright! that makes sense now, I was indeed a bit confused regarding the "task".
Thanks for the explanation!

[2019-04-15 00:34] philipperemy commented on #49
Thanks!

[2019-04-15 00:34] #49 closed

[2019-04-17 21:22] rt3722 opened #50 "Can we have a time series forecasting & classification example using Keras-tcn"

[2019-04-18 08:48] philipperemy commented on #50
@rt3722 how do you want it? Do you have an example? A link?

[2019-04-18 11:39] rt3722 commented on #50
For now if you can provide a simple example using univariate time series like based on past 12 month data predict next one month , 12 historic data points and 1 period forecast.
Thank you.

[2019-04-18 11:41] rt3722 commented on #50
I don't know if we can use keras-tcn for categorical sequence prediction like based on past 12 categorical sequences like 0 1 1 2 3 3 3 3 3 3 3 3 ==> 1

if we can, then an example for that would also be really helpful

[2019-04-19 01:43] philipperemy commented on #50
@rt3722 what do you mean exactly by categorical sequence prediction? That the target is a categorical variable?

[2019-04-19 02:33] philipperemy commented on #50
How about this example here?

[2019-04-19 02:40] philipperemy commented on #50
![image](https://user-images.githubusercontent.com/4516927/56402344-e69ad000-6297-11e9-824e-69bb50fb37d9.png)

[2019-04-19 15:19] rt3722 commented on #50
it should good.

Thank you.

[2019-04-19 15:21] rt3722 commented on #50
I mean they are event sequences hence categorical data.
In the example that i gave we have past 12 month event sequences and based on those sequence of events we need to predict what would be the next month event

[2019-04-19 15:22] rt3722 commented on #50
this is exactly what i am looking for.

Thank you.

[2019-04-19 21:45] rt3722 commented on #50
yes,target variable is categorical

[2019-04-22 01:23] philipperemy commented on #50
@rt3722 how about
- replacing the last Dense(1) by Dense(num_classes, activation='softmax')
- using a categorical_crossentropy loss instead of mae/mse?
It will work for target variable as categorical

[2019-04-22 21:09] rt3722 commented on #50
Thank you.

[2019-04-23 01:37] philipperemy commented on #50
@rt3722 great!

[2019-04-23 01:37] #50 closed

[2019-04-27 15:50] Luux commented on #33
This is closed already, but I just stumbled upon this.
Just wondering: what would be the best way to do this if you want to replace a stateful LSTM, e.g. for real time applications where you get a single time step at a time and want to predict something?

Of course, you could kinda emulate this behaviour by using a growing array as an input, but this is kinda hacky and throws away all information

[2019-04-28 13:33] Luux commented on #33
Just wondering: what would be the best way if you want to replace a stateful lstm? Using a "cache"/sliding window of size (2 * receptive_field - 1) and predict every (receptive_field) timesteps? This way the last new data point still has the entire history that is part of the receptive field. You only would have a delay of (receptive field size) timesteps and could use maximum parallelism for (alm

[2019-05-05 16:04] jmrichardson opened #52 "Binary classification always predicting .5, .5"
Apologize if this is a dumb question but I am having a problem doing binary classification:

[code]
Results in prediction:

[code]

Thanks for any help

Input dimension is 30K rows of 83 features, target is 0 or 1

[2019-05-06 12:02] samshipengs opened #53 "Different sequence length input shape error"
I have a list of sequences as my input data, each sequence could have different time step size, at each time step the feature vector length is 100. I'm using fit_generator in keras to train the model, and a generator function to produce the input with batch_size I specified, so each batch from the generator is an numpy array with shape (batch_size, ), the sub array will have shape (variable_length

[2019-05-07 23:19] samshipengs commented on #53
I just came to realise that, the `timesteps`  between different batches do not have to be the same, but it has to be the same within the batch as the model takes in a tensor.

[2019-05-07 23:19] #53 closed

[2019-05-08 08:29] philipperemy commented on #33
@Luux yes I know what you mean. At the moment the computations are lost between two calls. In a stateful LSTM you keep the states (c, h) in memory. But in a TCN you dont have such states. So stateful or stateless does not really make sense for TCN. However, we could always cache some computations instead of recomputing all of them. But Im not sure how to do that. It would definitely be difficult i

[2019-05-09 01:00] philipperemy commented on #33
@Luux yes I agree with you. A pure tensorflow implementation is definitely do-able. In Keras, I'm not even sure it's possible. I guess it would be but would require a lot of work.

[2019-05-10 07:50] philipperemy commented on #52
@jmrichardson Hum it means that the network does not learn anything if the classes are well-balanced (50% chance of having 0, and 50% of having 1). Why don't you try another simple model? Are your features spatially correlated like an image? Because TCN is based on convolutions.

[2019-05-10 14:57] jmrichardson commented on #52
Sorry, I assumed that we could use keras-tcn for multivariate tabular data since I saw an example in your repo for a univariate data set.  I am learning more about CNNs and see that the filters convolve around image data to detect things like edges for images.  Since my data set features are temporal (not IID) but not images I don't think I can use keras-tcn correct?

[2019-05-12 04:52] philipperemy commented on #52
@jmrichardson no you can here. If your data has shape (batch-size, timestep, input-dim), you can use a TCN. For example if you have 64 time series with 1000 time steps, you can use TCN. Your input will be (batch-size, 1000, 64).

[2019-05-12 14:30] jmrichardson commented on #52
I think I have the right data shape...  I have 83 time series with 31K rows.   I used the following code to create a rolling window of 20 sequences/timesteps similar to your milk task example:

[code]

Here is the shape X_train shape:

[code]

Here is the model code:

[code]

[2019-05-17 02:23] philipperemy commented on #52
Sorry I don't have much time to look at code snippets. I don't see any errors here. Don't hesitate to post your question on a machine learning forum. I'll close this issue as I don't see any bugs here. Thanks!

[2019-05-17 02:23] #52 closed

[2019-06-08 05:12] happyzhichengzhao opened #55 "activation function"
Somewhere you seem to have forgotten to use the activation function

[2019-06-08 10:21] philipperemy commented on #55
@happyzhichengzhao can you be a bit more precise here?

[2019-06-08 10:22] happyzhichengzhao commented on #55
`    # 1x1 conv to match the shapes (channel dimension).
    prev_x = Conv1D(nb_filters, 1, padding='same')(prev_x)
    res_x = keras.layers.add([prev_x, x])`

should be replaced by

`# 1x1 conv to match the shapes (channel dimension).
    if prev_x.shape[2] != nb_filters:
        prev_x = Conv1D(nb_filters, 1, padding='same')(prev_x)
    res_x = keras.layers.add([prev_x, x])
    res_x = Activatio

[2019-06-08 10:45] happyzhichengzhao commented on #55
in line 110

        x = inputs
        # 1D FCN.
        x = Convolution1D(self.nb_filters, 1, padding=self.padding)(x)

Does it also need an activation function here?

[2019-06-09 05:54] philipperemy commented on #55
@happyzhichengzhao what does the paper say?

https://arxiv.org/pdf/1803.01271.pdf

I'll have a look next week but if you can already point out, it would be helpful!

[2019-06-14 02:00] philipperemy commented on #55
https://github.com/philipperemy/keras-tcn/pull/57

[2019-06-14 02:16] philipperemy commented on #55
Fixed in 2.7.0

[2019-06-14 02:16] #55 closed

[2019-06-19 20:18] nhirons commented on #24
Seem to be getting the same error in Python 3:
[code]

[2019-06-19 20:38] nhirons commented on #24
Nevermind, I see the f-string was introduced in 3.6. I unfortunately am stuck with 3.5 for now so I can just modify the module as needed.

[2019-06-20 00:06] philipperemy commented on #24
@nhirons I can push a release without the f string!

[2019-06-20 02:38] philipperemy commented on #24
@nhirons I pushed a version without the f-strings.

[code]

Enjoy!

[2019-06-20 17:43] nhirons commented on #24
Wow, so speedy! Thank you very much. F-strings seem cool too though, I hadn't come across them before.

[2019-06-21 01:45] philipperemy commented on #24
Yeah cool isn't it? :)

[2019-07-06 20:51] jeffheaton opened #60 "Plans to support for TensorFlow 2.0?"
Are there plans to support TensorFlow 2.0?  When I try to use keras-tnn with TF 2.0, I get this error.  Which is likely related to the eager execution model of TF 2.0.

`
Using TensorFlow backend.
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-2-7d9b599be077> in <module>
     19

[2019-07-10 09:07] philipperemy commented on #60
@jeffheaton thanks for reporting. I will start having a look at the end of the week and see what I can do.

[2019-07-10 14:29] beasteers opened #61 "Name parameter not used"
The name parameter is currently not being applied to the layer. As a related issue, the current layer implementation dumps all of the model layers into a single flattened list and it's hard to see where one TCN block ends and another begins. I propose that, to solve both of these issues, the TCN layer should inherit from `keras.layers.Layer`

I patched the layer to implement the desired interface

[2019-07-10 14:51] beasteers opened #62 "Extracting latent context vectors"
I'm trying to extract context vectors from the latent TCN space. Basically I want to extract all of the highlighted nodes from the hidden layers in this diagram (nodes with arrows) into a list of activations, one for each residual block:

[code]

![image](https://user-images.githubusercontent.com/6741720/60977797-10dfb500-a2fe-11e9-89e3-d0fb3f16cf39.png)

The way that I see it, I need to get the a

[2019-07-10 15:06] beasteers commented on #61
The one thing that I'm not sure is when you do this, I don't know how to access the child layers.

[2019-07-10 15:17] beasteers commented on #61
Update:
according to notes in [this](https://www.tensorflow.org/beta/guide/keras/custom_layers_and_models#layers_are_recursively_composable), it seems that in order for the layer to track trainable weights in child layers, you need to assign the layers as a direct attribute to the TCN layer which makes things,,, a bit more complicated.

[2019-07-10 15:26] Luux opened #63 "Weight Initialization"
The default weight initialization in Keras is Glorot Uniform. I've read that for Conv2D layers you should use the initialization algorithm from Kaiming He instead. I'm not sure if that applies to 1D Conv that are used in keras-tcn, but it may be nice to have the choice regardless.

[2019-07-11 04:53] philipperemy commented on #60
I pushed the updates in a feat branch. You can install the version compatible with tf 2.0 like this:

[code]

When tensorflow 2.0 becomes an official release, I will push the changes to master.

Let me know if it works for you!

[2019-07-12 00:50] jeffheaton commented on #60
Thanks, that sounds good!

[2019-07-12 03:01] philipperemy commented on #60
Awesome!

[2019-07-12 03:01] #60 closed

[2019-07-12 03:02] philipperemy commented on #63
@Luux definitely a legit request! And I agree about Kaiming He. I'm going to work on this.

[2019-07-12 03:10] philipperemy commented on #63
https://github.com/philipperemy/keras-tcn/pull/65

[2019-07-12 03:12] philipperemy commented on #61
@beasteers thanks for reporting! Going to have a look over the weekend :)

[2019-07-12 04:54] philipperemy commented on #63
@Luux can you tell me if you're happy with the pull request? https://github.com/philipperemy/keras-tcn/pull/65

[2019-07-12 08:29] philipperemy commented on #63
[code]
2.8.2
https://github.com/philipperemy/keras-tcn/commit/8fdfcd6eed3cf5d6e81423de3ffe7161300b2bb3

[2019-07-12 08:29] #63 closed

[2019-07-12 11:52] Luux commented on #62
If someone ever wants to look at #33, this question here could be a starting point for doing something like that, too, if I understand that correctly. So I'll leave this link here.

[2019-07-12 15:36] beasteers commented on #33
If I recall correctly, I've seen some wavenet implementations that use a FIFO queue as a way of tracking states for the generative model. I'll have to see if I can track down the repo that I'm thinking of, I don't see it right now.

[2019-07-12 17:57] beasteers commented on #61
Just a thought, maybe we can create it as a `Sequential` object instead of a layer? Personally, I prefer the functional API, but this would allow us to automatically capture the trainable weights of the child layers by adding them to `self.layers` (and it also allows for easy layer access).

Per the [docs](https://keras.io/layers/containers/) here it says:

Which seems to be exactly what we need.

[2019-07-16 17:45] beasteers commented on #33
Here's a PyTorch implementation that seems to use a (custom implemented) `DilatedQueue` class alongside `Conv1D` layers (instead of the hand-rolled convolutions from the tf implementation) so it might be a useful example.

[2019-07-16 18:43] Luux commented on #33
@beasteers You probably forgot the link :P

[2019-07-16 18:58] Luux commented on #33
@philipperemy @beasteers I don't have the time this or next week to further look into this (maybe after that :P), but the implementation @beasteers found leads to this paper that proposes special queues for caching: https://arxiv.org/abs/1611.09482
That one could be interesting.

[2019-07-19 18:41] sishue opened #66 "How to remove randomness?"
I tried the following things:
`# Set seed value
seed_value = 56
import os
os.environ['PYTHONHASHSEED']=str(seed_value)
# 2. Set `python` built-in pseudo-random generator at a fixed value
import random
random.seed(seed_value)
# 3. Set `numpy` pseudo-random generator at a fixed value
import numpy as np
np.random.seed(seed_value)
from comet_ml import Experiment
# 4. Set `tensorflow` pseudo-random gen

[2019-08-22 11:58] Blinky0815 opened #68 "Failed to get convolution algorithm"
**Problem:**
tensorflow.python.framework.errors_impl.UnknownError: 2 root error(s) found.
  (0) Unknown: Failed to get convolution algorithm. This is probably because cuDNN failed to initialize, so try looking to see if a warning log message was printed above.
	 [[{{node conv1d_1/convolution}}]]

The problem may be because I have got two GPUs (RTX 2080). I ran into the issue with CUDA 10.0 and 10.

[2019-08-26 08:16] philipperemy commented on #68
Try this:

https://github.com/tensorflow/tensorflow/issues/24828#issuecomment-464957482

[2019-08-26 08:17] philipperemy commented on #66
@sishue good point. In tensorflow, it's very difficult to have reproducible results (especially on a GPU).

[2019-08-26 10:20] Blinky0815 commented on #68
Thanks,
This is pretty much exactly what I provided as a fix. And that works well.

[2019-08-26 17:45] davidxujiayang opened #69 "Possible wasted computations when not returning sequence"
Hi, thanks for offering this great package. I'm trying to build a autoencoder using TCN. In my encoder part, the TCN will not return a sequence. After looking at your code, it seems to me that if return sequence is set to False, then only one slice in the last layer is kept for output. However, the convolution is still conducted for other slices. Tracing back the dilated convolution, many computat

[2019-08-27 01:02] philipperemy commented on #68
@Blinky0815 awesome happy that it could work for you!

[2019-08-27 01:02] #68 closed

[2019-08-28 06:30] philipperemy commented on #69
@davidxujiayang

Yes you understood correctly. Almost all the computations will be lost. It's the same case for RNN models. But I agree that those computations could be avoided for this case.

That's more of a research question. In this case, I would say deconvolution are probably better than convolutional layers since you want to upsample. So TCN might not be the best here. We should build a de-c

[2019-08-29 10:44] itsaugat opened #70 "Saving and Loading Model"
Thanks for creating this easy to access library. I am using it for time series forecasting scenario based on the example given. After training the model, I saved it in h5 format using save method in Keras. However, when I try to load the model again using load_model() it gives an error saying

**This version performs the same function as Dropout, however it drops entire 1D feature maps instead of

[2019-08-29 23:38] adamconkey opened #71 "Why use more stacks over more dilated layers?"
The receptive field is a product of number of stacks, the largest dilation value, and kernel size. Let us say we fix `kernel_size = 2` . I would like to understand the difference between two different ways of achieving the same receptive field, say a receptive field of 256:
1. Use `nb_stacks=1` stacks, and use dilations `[1, 2, 4, 8, 16, 32, 64, 128]`
2. Use `nb_stacks=2` stacks, and use dilations

[2019-09-03 02:20] philipperemy commented on #70
Thanks!

Save model to h5 is usually buggy in Keras. I much prefer saving the weights by calling `set_weights()` and `get_weights()`. I provided an example on how to do it here: https://github.com/philipperemy/keras-tcn/blob/master/tasks/save_reload_model.py

It uses dropout and it worked. So it should solve your problem :)

[2019-09-03 02:20] #70 closed

[2019-09-03 02:40] philipperemy commented on #71
@adamconkey quoting from the wavenet deepmind paper https://arxiv.org/pdf/1609.03499.pdf

![image](https://user-images.githubusercontent.com/4516927/64140525-a3ed2500-ce3f-11e9-80a7-8f898fcaee31.png)

[2019-09-03 02:45] philipperemy commented on #71
Is it clear enough? To be honest, I guess you should try both and see the one that works the best. It's always difficult to give a solid answer on why one way is better than the other in deep learning.

[2019-09-05 02:24] JialinYan96 opened #72 "is it possible to use is in a 2d way? for example, video prediction?"

[2019-09-05 05:17] philipperemy commented on #72
Not at the moment, it's only for 1D or multi 1D time series predictions (like sound waves).

If you want to predict on video, you have to use Convolutions 3D

https://www.tensorflow.org/api_docs/python/tf/keras/layers/Conv3D

This could be a nice extension to the current version of the TCN.

[2019-09-05 05:17] #72 closed

[2019-09-05 06:11] philipperemy commented on #72
More information here: http://francescopochetti.com/video-classification-in-keras-a-couple-of-approaches/

[2019-09-10 08:36] philipperemy commented on #71
I'll close the issue now. Still searchable :)

[2019-09-10 08:36] #71 closed

[2019-09-12 22:40] yu-iskw opened #73 "Tensorflow Addons"
@philipperemy

I would like to expand the code with tf.keras. Can I modify the code to release it on pypi?
I know the license is MIT, but I would like to confirm that just in case.

[2019-09-28 23:11] psomers3 commented on #61
I didn't realize that this was already being discussed. I have done this in my pending pull request.

[2019-10-07 06:28] philipperemy commented on #61
@psomers3 excellent! I am going to check all that :)

[2019-10-08 03:17] RifqiAW opened #77 "Question about number of filters"
I'm trying to replicate the result of my previous project that used LSTM with units = 256. And on the home page of this repo it says that number of filters is like units in LSTM. And since I want the tcn to remember the whole sequence I set the receptive field about equals to the sequence length. But with number of filters 256 I ended up with a network that is way larger than the LSTM counterpart.

[2019-10-09 06:21] philipperemy commented on #77
Yes those networks have a totally different architecture. Try to reduce the number of filters and/or reduce the dilations to match the number of parameters of your LSTM. Keep in mind that LSTM usually fail to remember more than 50 steps. So if your sequence is 1000 steps, you can build a TCN that can remember the last ~100 steps. It -of course- depends on the type of your data. But that could be s

[2019-10-09 06:21] #77 closed

[2019-10-09 07:55] SqySimmon commented on #69
I think length of the output sequence don't need to be the same with input in TCN. `stride`, `dilations`, `kernel_size` should be designed if a single output is desired.
In my practice, for an encoder of Seq2Seq model, I follow the architecture in [TCN paper](https://arxiv.org/pdf/1803.01271v2.pdf) with `stride=2, kernel_size=3, dilations = 1, 2, 4` . There is only one final output when input is a

[2019-10-10 17:29] porgull opened #78 "Loading model h5 files w/ a TCN layer"
When I am using a TCN model that has been saved to an h5 file, I cannot seem to load it if tcn is imported.

Everything works as expected w/o importing tcn (minus `tcn.tcn is not loaded`, which makes sense)
[code]

However, if I import the TCN layer, then try to import, Keras throws an error:
[code]

I can get it all to work fine if I manually change `/Users/2l4/.conda/envs/daemon/lib/python3.7/si

[2019-10-10 17:33] porgull commented on #78
oh, duh! I trained the model in a different environment with the necessary modifications to get the TCN layer working with tf2.0.0, and I forgot to reflect those changes to this new environment. When I installed keras-tcn using

[code]

Everything thus worked.

[2019-10-10 17:33] #78 closed

[2019-10-10 18:19] zibozzb opened #79 "Confusing about the input and output"
Hi Philippe Rémy,
Thank you for your great work!!
I am a beginner in deep learning.
I am working on object motion state prediction. In my problem, the input is the current state (3 by 1 vector), and the output is the predicted state (2 by 1 vector).  For example, I want to predict a toy car, the inputs will be the current speed v, current position s, and current force f; the outputs will be the sp

[2019-10-11 01:20] philipperemy commented on #77
Yes I would say a non-causal TCN could be equivalent to a Bidirectional LSTM here.

[2019-10-11 01:59] philipperemy commented on #79
Hi,

Well you can always try something like this.

If you have 3000 time steps, you start at time 1000. The first 0:1000 steps go in your X and step 1000 go in your Y. And then you increment by 1. You are now at time 1001. The last 1000 (so from 1 to 1001 excluded) go to your X and the step 1001 go in your Y.

Then you're going to have two big matrices X and Y of the shape:

X.shape = (num_samples

[2019-10-11 01:59] #79 closed

[2019-10-14 16:49] davidxujiayang opened #85 "Unclear loop in residual block"
Hi,

Sorry for bothering again. In your tcn.py residual block, there is a loop "for k in range(2):", I'm not sure about the purpose of it. Could you kindly explain? Thanks

[2019-10-15 02:27] philipperemy commented on #85
@psomers3 I think that's a question for you :)

[2019-10-15 04:20] psomers3 commented on #85
It was done that way in the original code, so I just kept it. I assume it was there because the TCN paper uses 2 identical causal convolutions in the residual block, but maybe there was a thought that it would potentially be extended.

[2019-10-20 22:57] evanatyourservice commented on #73
I’ll be testing this later today using tensorflow 2.0 in a colab notebook, I’ll report back if I have to make any changes to make it run smoothly.

[2019-10-21 01:03] philipperemy commented on #73
👍

[2019-11-03 19:42] shun-lin commented on #73
Hi!

I recently came across TCN and wanted to try it out with tf 2.0 and tf.keras. @philipperemy thank you so much for the keras version implementation :). If we also want to support tf.keras, I think another great place we can put it on for more visibility is [tensorflow addons](https://github.com/tensorflow/addons). @philipperemy may I help out with porting the tcn layer portion of the code to [

[2019-11-04 04:44] philipperemy commented on #73
@shun-lin if you can help out porting the TCN layer portion to tensorflow addons layers, it would be amazing!!

[2019-11-04 04:45] philipperemy commented on #73
The TF2.0 and tf.keras is on the way :)

[2019-11-04 04:52] shun-lin commented on #73
@philipperemy thanks :)

[2019-11-05 07:32] HighPerformance01 opened #88 "BatchNorm problem with latest TCN"
Hi,

After using the TCN code update 22 days back, all my code is not working.

Please check the attached text files:

same_code.py is the same code used in old and new TCN
old_model_summary.txt is the model summary before the update
new_model_summary.txt is the model summary after the update
tcn283_old.py is the last tcn which was working

Would you please give any clue to what is going on.

Than

[2019-11-05 08:32] philipperemy commented on #88
@HighPerformance01 is it a compilation issue or convergence issue?

[2019-11-05 10:00] HighPerformance01 commented on #88
It is a convergence issue. New TCN can not go more 0.3 accuracy while the old one can go to more than 0.97 accuracy

Thank you for the quick response

[2019-11-06 02:23] philipperemy commented on #88
@HighPerformance01 that's concerning. Did you try to run it several times?

[2019-11-06 08:32] HighPerformance01 commented on #88
Yes, I tried with different machines even.

The problem can be noticed easily from the model summary files

using the same code the old model generates a different CNN model than the current one.

 New model Total params: 524
Old model Total params: 14,810,956

Were you able to check the text files attached? They use the same code and generate totally different networks.

Thank you for following u

[2019-11-06 08:34] philipperemy commented on #88
Oh yeah the new model seems pretty empty. It's pretty weird. Will have a look this weekend!

[2019-11-06 08:46] HighPerformance01 commented on #88
Thank you

[2019-11-07 03:13] nervemonkey opened #89 "Could you support Masking layer？"
I am working on a signal labeling problem，but I think cutting signal and training randomly will lead the model working badly on new signals.So, could you support keras Masking layer?

[2019-11-07 03:50] AStupidBear opened #90 "Convergence issue when nb_stacks > 1"
If I change `nb_stacks` in `tasks/mnist_pixel/main.py` from 1 to 2, the accuracy will get stuck at around 10%. Is this an inherent problem of the network structure, or an implementation bug?

[2019-11-07 09:55] philipperemy commented on #90
@psomers3 maybe linked to the recent changes.

[2019-11-07 09:55] philipperemy commented on #88
@psomers3 maybe linked to the recent changes.

[2019-11-07 10:12] psomers3 commented on #88
Oh no... will try and take a look this afternoon

[2019-11-07 10:20] philipperemy commented on #88
Thank you so much!

[2019-11-07 11:44] psomers3 commented on #88
@HighPerformance01 Are you using tensorflow as the backend or something else?

[2019-11-07 12:43] psomers3 commented on #90
I don‘t seem to have this problem. I‘ve tested on Windows with:
Keras 2.3.1
Tensorflow (cpu) 1.14 and 2.0

[2019-11-07 14:34] HighPerformance01 commented on #88
Yes I am using TensorFlow as backend

I put now everything including the data so you can reproduce the issue on the following google drive shared folder:

https://drive.google.com/drive/folders/1JYp7G8d34IOJhHWUyfIe_bUqsoRGhogt?usp=sharing

thank you for the quick response

[2019-11-07 14:49] psomers3 commented on #88
I cannot access google drive right now for proxy reasons, but I am able to build your model just fine and have the same number of parameters as your old model. What version of Keras and tensorflow are you using?

[2019-11-07 15:06] HighPerformance01 commented on #88
I just run it on colab leaving it to defaults and still I noticed the issue:

keras version: 2.2.5
tf version: 1.15.0

[2019-11-07 22:21] evanatyourservice opened #91 "Weight Normalization"
tensorflow has an easy to use weight normalization wrapper here:

https://github.com/tensorflow/addons/blob/master/tensorflow_addons/layers/wrappers.py

[2019-11-08 07:08] nervemonkey commented on #89
sorry，I found problems appear when I use model.add . If I use o = layer(i)... ,the probloms will disappear.

[2019-11-08 07:51] psomers3 commented on #88
It definitely seems to just be an issue on google colab. Unfortunately, I am completely new to that service and the jupyter notebook style of scripting, so it could take me awhile to find the issue.

I did find it will work on there with:
tensorflow 1.15 and 2.0
keras 2.3.1

So maybe try just updating keras. I think that should fix it for you.

[2019-11-08 08:28] nervemonkey commented on #89
I found the answer which is Con1d by keras lacking supports for Masking layer.For seq labeling, I can only put the masking layer before dense.

[2019-11-08 08:28] #89 closed

[2019-11-08 08:35] AStupidBear commented on #90
@psomers3 Could you post your progress result here?

I use a smaller dilation range ( `range(9)` -> `range(6)` but not `range(7)`) , the problem will disappear. I think it's an inherent problem of stacked TCNs, not an implementation bug.

[2019-11-08 09:24] psomers3 commented on #90
I can’t sign in to github from my computer, so unfortunately no copy-pasting.
All I changed was nb_stacks=2 and after one epoch I result in

`loss: 4.7449 - accuracy: 0.8309 ...`

my model has 94,510 total trainable parameters. Does this match yours?

[2019-11-08 10:42] AStupidBear commented on #90
Yes

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-11-08 11:18] psomers3 commented on #90
But you still get a much lower accuracy? What version of Keras and tensorflow are you using? I really have no idea right now as to why we get different results.

[2019-11-08 11:54] HighPerformance01 commented on #88
Yes after upgrade to keras 2.3.1 it has the same number of parameters but still has the convergence issue. See below a comparison of old and new tcn for val_accuracy

_________________________________________________________________
_________________________________________________________________
_________________________________________________________________
Old TCN:
__________________________

[2019-11-08 13:59] psomers3 commented on #88
I will take a look this weekend when I can access your training data.

[2019-11-08 14:14] psomers3 commented on #88
If I had to take a guess right now, the issue lies with the batch normalization because it is only the validation data that doesn’t converge.

[2019-11-08 14:22] HighPerformance01 commented on #88
Thank you for that, the dataset is at:
https://drive.google.com/drive/folders/1JYp7G8d34IOJhHWUyfIe_bUqsoRGhogt?usp=sharing

[2019-11-09 08:58] philipperemy commented on #91
@evanatyourservice interesting. Might want to prioritize that once we run on tensorflow.keras instead of keras.

[2019-11-11 05:30] psomers3 commented on #88
I'm really at a loss as to why the validation is having issues. I took a look this weekend and found that we should be passing the training keyword to the normalization layer, but that didn't seem to fix it. It is tedious to debug this on colab. @HighPerformance01 Do you have a smaller network that is having the same problem so I may debug locally?

[2019-11-11 06:38] HighPerformance01 commented on #88
To have smaller network, we just change the parameters at the top of the file.

New Parameters:

n_filters=32
kernel_size=32
dilations=3
n_stacks=3

Also, this smaller network produce the same issue:

__________________________________________________________________________________________________
__________________________________________________________________________________________________
_

[2019-11-13 07:03] wildaurora commented on #88
hava a same problem, the val_accuracy cannot imporve with the accuracy, is there any suggestion?

[2019-11-13 07:13] psomers3 commented on #88
Unfortunately, I have not had much of a chance to look at this again lately. And probably won‘t until later this week. :(
@wildaurora Can you post your TCN layer configuration? (ie parameters you built the layer with)

[2019-11-13 12:52] philipperemy commented on #90
2 stacks, current master
Trainable params: 94,510
[code]

1 stack, current master

[code]

1 stack, previous master
[code]

2 stacks, previous master
[code]

[2019-11-14 06:03] wildaurora commented on #88
I use TCN as language model , and config as follow:

`def build_model(vocab_size):
    model = Sequential()
    model.add(Embedding(vocab_size, input_embedding_size))
    model.add(TCN(nb_stacks=4, kernel_size=3, dropout_rate=0.45, return_sequences=True,dilations=(1, 2, 4, 8), use_batch_norm=True, activation='relu'))
    model.add(Dropout(0.2))
    model.add(Dense(vocab_size, activation='softmax')

[2019-11-14 10:12] wildaurora commented on #88
I found where the problem is..Caused by `use_batch_norm=True`, while set `use_batch_norm=False`, the val_acc will improve with acc, maybe its due to keras batch_normalization_layer trainable param. However, even if set `model.trainable=True`, the problem won't be fixed. So I just set `use_batch_norm=False`.

[2019-11-14 10:49] psomers3 commented on #88
this is what I was playing with on my forked copy. We should figure this out. the layer should be set as trainable, but even when I passed „training“ to the call to put the layer in inference mode (note there is a significant difference between „trainable“ and „training“), it still didn‘t work. From looking online, it seems like the batch_norm layer can be a pain. I just don‘t know why it worked b

[2019-11-18 22:17] lingdoc commented on #66
Just a heads-up that reproducible results are possible on (NVIDIA) GPUs using the [tensorflow-determinism](https://github.com/NVIDIA/tensorflow-determinism) library. I've been getting reproducible results consistently for CNNs, and I also just tested with `keras-tcn` and got reproducible results, so it is possible.

[2019-11-20 11:56] philipperemy commented on #66
@lingdoc yeah you're right. Can you detail the steps to make it reproducible? That would be highly appreciated!

[2019-11-20 11:58] philipperemy commented on #66
Is it just adding those lines at the beginning of the script that you run?

[code]

[2019-11-20 12:01] philipperemy commented on #88
@psomers3 @wildaurora Hum this batch norm is a tricky thing. Weight norm was released for tensorflow so maybe we should move to https://github.com/philipperemy/keras-tcn/issues/91

[2019-11-20 12:02] philipperemy commented on #88
Btw I could reproduce the convergence issue on my GPU server:

With pip install keras-tcn==2.8.3
https://pastebin.com/P4A7PFj7
https://pastebin.com/w0AcW5zr

With master
https://pastebin.com/YaiqtZ7Q
https://pastebin.com/hiy99ZtY
=> Convergence problem identified.
 Maybe it’s due to a structure change in the model or initialization of the weights?

[2019-11-20 12:09] lingdoc commented on #66
yes, after installing the library and setting `SEED` to some value, i.e. `SEED = 54`. I'm running on TF 1.15, btw - haven't tried it on TF 2.0

This should ensure that any sources of randomization, like `shuffle=True` in the Keras `model.fit()` call or the various `split` functions in `sklearn` will be deterministic, provided they are using one of these random seeds. One caveat is that if you chan

[2019-11-20 12:54] philipperemy commented on #66
That sounds already very promising! Thank you very much for the feedback. I'm going to add it to the README

[2019-11-20 12:57] philipperemy commented on #90
@AStupidBear sorry I could not reproduce the results on a GPU/CPU. I'll close this issue for now. Reinstall it, re-run and tell me if the issue still persists.

[2019-11-20 12:57] #90 closed

[2019-11-20 12:57] philipperemy commented on #91
https://github.com/philipperemy/keras-tcn/pull/96

[2019-11-20 13:00] philipperemy commented on #66
Done! @sishue try the tensorflow-determinism library. It should work!

[2019-11-20 13:00] #66 closed

[2019-11-20 13:04] philipperemy commented on #85
I'll close this question. @davidxujiayang tell us if it's not clear :)

[2019-11-20 13:04] #85 closed

[2019-11-21 14:53] philipperemy commented on #91
Closed with https://github.com/philipperemy/keras-tcn/commit/1efc54cb5d8c6997d2436d5222fbf9685f2c11af.

I'll release on PyPI soon :)

[2019-11-21 14:53] #91 closed

[2019-11-22 18:59] atracordis opened #101 "TypeError: The added layer must be an instance of class Layer"
In a fresh Google Colab Notebook, I executed the contents of this sample task :
https://github.com/philipperemy/keras-tcn/blob/master/tasks/sequential.py
The error appeared at model.add(TCN(nb_filters=64, kernel_size=6, dilations=[1, 2, 4, 8, 16, 32, 64]))
Are TCN layers not considered layers by Tensorflow?

[2019-11-22 19:22] atracordis commented on #101
Circumvented the error by simply copying and executing the contents of the tcn.py class (link : https://github.com/philipperemy/keras-tcn/blob/master/tcn/tcn.py ) into my Notebook instead of importing it from the installed library

[2019-11-25 10:45] philipperemy commented on #101
@atracordis thanks for reporting. Sorry I forgot to push to PyPI the latest version of master. It should work now: 2.9.0.

[2019-11-25 10:45] #101 closed

[2019-11-25 21:09] adamconkey opened #104 "TCN layer config does not account for layer norm"
The new Layer inheritance for the TCN layer does not account for the new option `use_layer_norm` in the configuration in [`get_config`](https://github.com/philipperemy/keras-tcn/blob/1c81970433fb0bd2ea4444edd0ff87b2c5d09464/tcn/tcn.py#L281). This causes deserialization problems as the number of weights in the layer do not match with what was present when the model was serialized. For instance, som

[2019-11-26 00:28] philipperemy commented on #104
Merged in 2.9.1

Version: https://github.com/philipperemy/keras-tcn/commit/3a7b8d7e2f5e4a5c5c95f5281b67400047d9722e
Commit: https://github.com/philipperemy/keras-tcn/commit/6fec40ef7465aebe95ffe612e107d97df72121e4

[2019-11-26 00:28] #104 closed

[2019-11-28 00:17] asyms commented on #61
Hi,

I'm also having issues trying to load in a pre-trained model that was trained with all the child layers into TF 2.0 using tf.keras. Building the model in the exact same manner in TF 2.0 with tf.keras only shows the parent layers, making me think that is where the loading of weights is going wrong.
Any update on how I could fix this?

Thanks in advance!

[2019-11-28 07:45] psomers3 commented on #61
@asyms Can you provide a bit more detail? What do you mean by showing only the parent layers? And does the loading completely fail? Or does the model just not work properly?

[2019-11-28 09:54] asyms commented on #61
@psomers3 Yes of course, sorry for not doing so earlier.

I have two setups: new one with TF 2.0 using tf.keras, old one with TF 1.14 using Keras.

On both setups I build a TCN model using the functional API style:

On the old one the imports use keras directly:

[code]

While one the new one the imports are as follows (and the build_model function is identical):

[code]

Calling this build_model

[2019-11-29 05:21] philipperemy commented on #61
@asyms can you update your Keras TCN library and try again? If it still does not work, please open a new issue!

[2019-11-29 05:21] #61 closed

[2019-11-29 12:13] slateralus opened #107 "sequence to sequence attention"
Hi @philipperemy ,
I am working on seq2seq problem and I want to try following architecture:

Tcn Block
Seq2seq attention
Tcn Block
etc

I am looking for implementation of sequence to sequence attention using keras?
Do you aware about something similar ?

Thanks

[2019-11-30 00:43] philipperemy commented on #107
@slateralus well any architecture you can find on the internet with LSTM -> Attention -> LSTM will work well with TCN. TCN are LSTM are inter-changeable.

[2019-11-30 00:43] #107 closed

[2019-11-30 12:19] asyms opened #108 "Mismatch in model structure between keras-tcn versions"
Hi,

The issue I'm having is the following.

Setup:
tensorflow-gpu:2.0.0
keras-tcn:2.8.3 vs 2.9.2

Running the code in test_build_model gives different model structures in keras-tcn 2.8.3 vs 2.9.2.
I believe the issue stems from the fact that build_model() in BuildTCNClassifier.py uses keras for the 2.8.3 version, as opposed to tf.keras for the 2.9.2 version. There are no differences code-wise, on

[2019-11-30 15:10] philipperemy commented on #108
@asyms right. I'm going to write a summary function that will display the previous output for the new code.

[2019-11-30 21:47] asyms commented on #108
@philipperemy is the summary display the only thing that's different tho? The problem I'm having is that I have models trained with the old setup, and can't load them in the new setup. I thought it had something to do with the above stated summary difference aswell.

[2019-12-01 01:47] philipperemy commented on #108
@asyms yeah I fear that the checkpoints can be somehow incompatible from 2.8.x to 2.9.x. We did a big refactoring to make it Keras compliant to prepare for the merge in the Tensorflow addons library.

[2019-12-02 17:59] jiafatom opened #109 "AttributeError: 'tuple' object has no attribute 'layer'"
My code works fine with keras-tcn==2.8.3 but not for 2.9.2.
I am using keras==2.2.5 and tensorflow==1.14.0, See the error below for 2.9.2, thanks!
[code]
it gives me error:
[code]

[2019-12-03 13:23] philipperemy commented on #109
The backend of keras-tcn>=2.9.2 changed from keras to tensorflow.keras.
Either update your imports:
- From "from keras.layers import <LayerName>"
- To "from tensorflow.keras.layers import <LayerName>"

Or downgrade to 2.8.3 by running "pip install keras-tcn==2.8.3"

[2019-12-03 13:24] philipperemy commented on #109
https://github.com/philipperemy/keras-tcn/pull/110 I wrote a more explicit error message.

[2019-12-03 13:24] #109 closed

[2019-12-06 13:37] asyms commented on #108
Is there any way I can get the old layer structure in 2.9.x? I've tried adapting the tcn library but withouth success.
Also a (kind of) related question: Were any architectural changes made from 2.8.x to 2.9.x? As can be seen from the model above there seems to not be an activation function after the last res block (after add_5)?

[2019-12-07 02:01] philipperemy commented on #108
@psomers3 can you confirm this `As can be seen from the model above there seems to not be an activation function after the last res block (after add_5)`? Thanks!!

[2019-12-07 02:06] philipperemy commented on #108
@asyms It should be the same in terms of model structure from 2.8.x to 2.9.x. If it's different, then it's something we have to fix and update.

Is there any way I can get the old layer structure in 2.9.x? You mean with summary? I tried to make it happen but I haven't been able to until now.

Were any architectural changes made from 2.8.x to 2.9.x? In theory, no. If there's in practice, we have to

[2019-12-07 11:29] asyms commented on #108
@philipperemy Thanks for the follow up.

I don't really care about the summary, all I want is to be able to load the models trained with the old structure in the new structure, which is not the case right now. Loading the weights using model.load_weights(model_path, by_name=True) doesn't actually give an error, but don't load the correct weights.

I came across this issue: https://github.com/tenso

[2019-12-07 19:39] psomers3 commented on #108
@philipperemy There is indeed no activation on the last residual block in both the old version and the new. I just implemented it directly without considering it, but I suppose we should probably fix that.

[2019-12-17 12:59] SirJohnFranklin commented on #88
I just checked with the mnist example with tf.__version__ = '2.0.0', current github version:
    # no dropout, batchnorm=True after 10 epochs: 97s 2ms/sample - loss: 0.0495 - accuracy: 0.9842 - val_loss: 0.0470 - val_accuracy: 0.9842
    # 0.05 dropout, batchnorm=True after 10 epochs: 100s 2ms/sample - loss: 0.0512 - accuracy: 0.9834 - val_loss: 0.0483 - val_accuracy: 0.9853

I see no problem.
Btw

[2019-12-17 14:02] HighPerformance01 commented on #88
Yes for me too now.
Nice package, great work!

[2019-12-20 00:39] philipperemy commented on #88
Thank you everyone! We can close this issue now!

[2019-12-20 00:39] #88 closed

[2020-01-03 02:05] philipperemy commented on #62
@beasteers hey, sorry for the (very) late reply! You can use [keract](https://github.com/philipperemy/keract) to get the activations of each layer in a Keras model. The only problem here is that we merge all the TCN into one single layer so at the moment it's not possible to get the activations of each sub-layer inside. I'll try to find a way around it.

[2020-01-03 02:15] philipperemy commented on #62
But at the moment, you can get exactly what you want with the previous version of keras-tcn: 2.8.3.

So consider doing something like:

[code]

[code]

I added `activations = keract.get_activations(model, x_train[0:1])`

Then you should get something like this:

![image](https://user-images.githubusercontent.com/4516927/71703839-403d2d80-2e1a-11ea-960a-93be9a9af3e5.png)

Let me know if it helps :)

[2020-01-09 08:10] zibozzb opened #112 "Question about the TCN parameters"
Hi Philipperemy,
Thanks for your code.
I have some questions about the TCN arguments.

My testing code:
A1 = Input(batch_shape=(500, 1000, 1), name='A1')
A2 = TCN(nb_filters=64, kernel_size=2, nb_stacks=1, dilations=(1, 2))(A1)
A3 = Dense(1, activation='linear', name='A3')(A2)
and I generated the architecture figure posted in the end.

**Questions:**
1. I used dilations=(1, 2), which means I shoul

[2020-01-23 10:25] drdozer opened #113 "temporal tcn into future"
The temporal TCN is set up to fold the "past" values into the "current" summary node. The tree of attention branches is rooted at the most recent data point (the right). Is it possible to flip a switch and get it to root itself at the first data value rather than the last? I'm looking at protein sequences, and they have a well-defined beginning point, but often a rather fuzzy ending.

[2020-01-23 10:31] psomers3 commented on #113
Can you not just reverse the data you're inputting?

[2020-01-23 10:36] psomers3 commented on #112
You'll find your answers in the original paper this repository was based on. The authors decided to use 2 layers in each residual block and there exists an identity convolution to help with matching dimensions.

[https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=10&ved=2ahUKEwjsy-7NwpnnAhXOiVwKHVegALcQFjAJegQIBxAB&url=https%3A%2F%2Farxiv.org%2Fpdf%2F1811.10166&usg=AOvVaw37QMZPWyTGpEo0i

[2020-01-23 11:04] drdozer commented on #113
Yes - that's the kludge.

[2020-01-23 12:02] psomers3 commented on #113
Well, I suppose it could be implemented as another input configuration of the TCN, but I'm of the opinion that it is unnecessary because it wouldn't truly change the functionality of the layer and would just add to the already somewhat large configuration list. But it would be easy to do... @philipperemy thoughts?

@drdozer I have never the term kludge 😄

[2020-01-24 01:27] philipperemy commented on #113
Yeah reversing the sequence is best. Most procedures already reverse the sequences anyway for seq2seq.

[2020-01-24 11:12] drdozer commented on #113
Thanks - and a related question - we're interested in autoencoder schemes. Is it possible to configure TCN to reverse the attention collapsing, so that in the "decoder" half, it will invert the process of pooling attention?

[2020-01-25 09:25] philipperemy commented on #112
@zibozzb by the way which version do you use and how did you generate this cool graph? Did you use `plot_model`?

[2020-01-25 10:06] philipperemy commented on #113
@drdozer TCN and LSTM/GRU layers are interchangeable. So whatever works for LSTM/GRU will work for TCN.

[2020-02-07 11:34] #113 closed

[2020-02-13 20:03] thomashirtz opened #117 "Resource exhausted"
Hello,
I would like to know if I made  a mistake using your library
I want to do a TCN that does from an array of ~43000 to an output of ~100 to an hidden layers, then several outputs (regression problem. For this example I wanted to use only one output to see if everything was ok). However I get Ressource exhausted, But I feel like it is weird since the number of parameters should decrease expone

[2020-02-14 08:12] psomers3 commented on #117
That just seems like a huge network, so on a local machine that doesn't surprise me. Were you using the GPU with pytorch? The number of parameters is not what is allocated on the GPU. The math operations are and since the structure is full of 1:1 convolutions, I imagine the operations aren't any smaller toward the end of the network.

[2020-02-14 11:30] thomashirtz commented on #117
I must admit that my computer is not really powerful, but I trained some time ago a VGG which is quite bigger and include more than 100 millions parameters.
I thought that my network, when using as an input an array of 50000 (one channel) has :
50000+25000+12500+7500+...+200 (TCN from 50000 to 100)+100*100 (Hidden layer 1)+100(Hidden layer 2) Parameters. Which is ~less than 100000 parameters
Am I

[2020-02-15 15:29] thomashirtz opened #118 "Implement nb_filters=[1,2,4,8]"
Would it be possible to implement a feature to input a list of nb_filters ?
e.g. if I want a network with dilations = [1,2,4,8] and nb_filters=[1,2,4,8]
(I don't feel like I need to have high number of filters in the beginning, but rather at the end)

[2020-02-21 17:17] zibozzb commented on #112
Sorry for getting back late. YES, it is plot_model. I used 2.8.3 for TCN.

[2020-02-28 10:59] Hessen525 opened #119 "model.summary without detail of each layer in tcn"
Hi, philipperemy
Thanks for you work! Model.summary without detail of each layer in tcn block. As we know tcn include dilated convolutions and skip connect and so on, but we can not see the detail, likes output shape, parameter for each layer inside tcn. Do you know any ways to show it ?

Any reply/advice will be much appreciated!

[2020-02-28 11:01] Hessen525 commented on #119
@https://github.com/philipperemy/keras-tcn/issues/108, someone have asked for same question.

[2020-03-04 21:31] theDweeb opened #120 "variable input lengths"
Hello, I am currently using creating custom datasets for https://github.com/locuslab/TCN which have input sequences of different timesteps. I have padded them with zeros so that they are all the same length (same as you) but some of them are more than three times larger than others (thats a lot of zeros) which is causing non ideal results. My question is if you had any other strategies to combat t

[2020-03-10 14:09] antonstagge opened #121 "Normalization layer do not get unique names. Unable to save model."
The normalization layers (BatchNorm or LayerNorm) do not get unique names. Since each ResidualBlock has 2 Norm layers, you will not be able to save the model.

It is an easy fix:
In tcn.py, line 100 add the line `with K.name_scope('norm_{}'.format(k)):`
currently looks like:
[code]
Change to:
[code]

[2020-03-12 12:44] philipperemy commented on #121
Thanks for reporting. Going to update that!

[2020-03-12 13:06] philipperemy commented on #121
Merged.

[2020-03-12 13:07] #121 closed

[2020-03-12 13:08] philipperemy commented on #120
@theDweeb yes it's a common problem when batching. You have two main options:
- use batch size of 1. https://github.com/philipperemy/keras-tcn/blob/master/tasks/multi_length_sequences.py
- bucket the sequences of same length and batch them together. For example one batch of length 10, one batch of length 12, one batch of length 100.

[2020-03-12 13:10] philipperemy commented on #120
Feel free to re-open the issue if it's not clear.

[2020-03-12 13:10] #120 closed

[2020-03-12 13:11] philipperemy commented on #119
@Hessen525 yes that would be very useful. But because TCN became a keras.layer itself, model summary does not allow such a level of details.. I'll be happy to implement something if someone can somehow find a workaround.

[2020-03-12 13:12] philipperemy commented on #118
Yes it sounds def do-able.

[2020-03-12 13:13] philipperemy commented on #117
@thomashirtz can you print the model summary?

[code]

It will be helpful to see how many parameters you have inside your model.

[2020-03-18 12:59] Hessen525 opened #123 "The training of TCN is much slower than FCN."
Hi, @philipperemy
Thanks for your code, but I have a question as following:
Is it normal that tcn with 80,0000 parameters  is much slower than FCN with 30,000,000 parameters?

[2020-03-18 14:24] philipperemy commented on #123
What is the unit W? @Hessen525

[2020-03-19 04:30] Hessen525 commented on #123
Thanks for your quick reply, 1W= 10,000 So 80W=800,000.

[2020-03-19 04:57] philipperemy commented on #123
@Hessen525  80,0000 means 800K ?

[2020-03-19 07:56] Hessen525 commented on #123
Do not worry about it, In another word,  Is it normal that tcn with 80,0000 parameters is much slower than FCN with 30,000,000 parameters for training time?

[2020-03-19 21:58] TobiasMerlin opened #124 "Compute number of filters"
I want to know if the number of filters is in any context to kernelsize, dialation and number of stacks.
And my second question: where are the nb_filters placed?Are they the nb_filters for the layers inside the risidual block or for the whole NN and the blocks are just place inside the NN.
For example:
I have an input lenght of 96. kernelsize=2, number of stacks=3, dialation=[1,2,4,8,16], so the r

[2020-03-21 21:13] #124 closed

[2020-03-31 14:33] annebierhoff opened #126 "Exception when importing the tcn module"
When I try to execute `from tcn import TCN`, I get the follow Error:
[code]

My keras version is 2.3.1 and my tensorflow Version is 1.13.1.

Can someone help me?

[code]

[2020-04-01 06:06] #126 closed

[2020-04-01 13:40] annebierhoff opened #127 "Provide the TCN model with additional status information for each sample"
Hi Philipperemy,
Thanks for your effort.

I want to map a storage as a TCN model, which receives as input the removal from the storage and addition to the storage for t=0 to t=n and returns as output the storage contents.
For this purpose it is necessary to tell the TCN model the initial storage value at t=0 of each sample.

What is the best way to provide the TCN network with this isolated inform

[2020-04-03 09:59] philipperemy commented on #127
Thanks!
What do you mean by storage?

[2020-04-03 16:21] annebierhoff commented on #127
A storage device for storing electricity

[2020-04-04 22:44] beasteers commented on #33
Hey @philipperemy @Luux! I hope you've been well. :)

My work diverged a bit, but now I'm starting to look back on TCNs. Currently, I'm trying to train some TCN layers on top of a fairly large CNN that processes in 1 second chunks. I'm aiming for a larger receptive field (about 10-15 seconds or so), but my coworker has been expressing concern about memory constraints from duplicating the model tha

[2020-04-06 06:08] philipperemy commented on #127
@annebierhoff have a look at this tutorial: https://machinelearningmastery.com/time-series-prediction-lstm-recurrent-neural-networks-python-keras/
You can replace `LSTM` by `TCN`.

[2020-04-06 06:08] #127 closed

[2020-04-07 11:34] philipperemy commented on #119
@psomers3 amazing work. @Hessen525 this was released to master. Thanks again!

[2020-04-07 11:34] #119 closed

[2020-04-07 11:46] philipperemy commented on #126
@annebierhoff try to use `tensorflow>=2.0` it should work.

[2020-04-07 11:57] philipperemy commented on #108
@asyms can you upgrade by `keras-tcn==3.0.2` and use this function: https://github.com/philipperemy/keras-tcn/pull/128#issue-398690349. You'll be able to compare the two versions.

[2020-04-07 12:19] Yangandtom opened #129 "How to train own data by TCN?"
I build the TCN model is as follows：
model = Sequential()
model.add(TCN(50,return_sequences=False, input_shape=(nb_features,12)))
model.add(Dense(100, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(nb_class,activation='softmax'))
model.compile(loss='categorical_crossentropy',optimizer='sgd',metrics=['accuracy'])
model.summary()
However,
TypeError: The added layer must be an instance o

[2020-04-07 17:46] psomers3 commented on #129
make sure you import the keras layers from tensor flow and not directly from keras.

[code]

[2020-04-08 04:14] Yangandtom commented on #129
Excellent! It solved my problem perfectly.Thank you!

[2020-04-08 04:14] #129 closed

[2020-04-09 05:02] philipperemy commented on #117
I'll close this issue. It seems to be related to a very very huge model that does not fit on the GPU: `stacks = 1 and dilations = [1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096, 8192, 16384]`.

[2020-04-09 05:02] #117 closed

[2020-04-16 15:17] miaoweiwei opened #130 "Video processing recommendations"
I read the source code and found that the project is currently unable to process video, it is recommended to increase the function of processing video

[2020-04-20 08:33] hugoych opened #131 "Which paper is implemented ? TCN or Wavenet"
Hi there,
First of all, thanks for the time you take for maintaining this library, it's really appreciated !

I want to work with TCN from https://arxiv.org/pdf/1803.01271.pdf .
By having a fist look at the code it seems you are indeed implementing this paper idea of a CNN for time series, by stacking two dilated 1D convolution with a ReLu activation in a Residual block.

However when looking clos

[2020-04-20 09:03] philipperemy commented on #131
Hello Hugo,
Thank you for the feedback, much appreciated!
This implementation refers to https://arxiv.org/pdf/1803.01271.pdf.
And yes you are correct, `use_skip_connections=True` is enabled by default and is used in the reproducibility of the results which is not strictly rigorous.
By default, it should be set to `False`.
`use only one stack of residual blocks and change the activation to be ReLu

[2020-04-20 14:21] hugoych commented on #131
Thanks for your quick answer !
I'll do that then :).
Another question I have is regarding `self.main_conv1D` in `tcn.TCN`. Why do you do this first convolution prior to entering your residual blocks ? Is there some size issue I missed somewhere ?

Finally for the residual sum you apply a 1D convolution of kernel_size 1 if the block is not last ? Is there a reason for that ? In the original paper a

[2020-04-21 02:25] philipperemy commented on #131
@hugoych from my memory, the first main Conv1D is mentioned somewhere in the paper but I can't recall exactly where.

You can also have a look at this repo: https://github.com/locuslab/TCN/

This is the authors' implementation (PyTorch). I've never really had the chance to go through it thoroughly. That'd be great if you could compare the two versions (Keras and PyTorch) and make sure the arch are

[2020-04-21 12:30] hugoych commented on #131
From the snippet they mention the 1D convolution from the residual block in my understanding. I looked at the code (https://github.com/locuslab/TCN/blob/2221de3323032faef7bde744b0e211bd274cb2d0/TCN/tcn.py#L15-L45), There is no sign of a first convolution with kernel size 1. Moreover the 1x1 conv in the residual block is only applied if `n_inputs != n_outputs`.
I'll make a small PR when I have time

[2020-04-21 12:35] philipperemy commented on #131
@hugoych great! Please find some time :)

[2020-04-21 14:59] jdevoldere opened #132 "How to handle a timestep length of 0?"
It can handle variable timestep size just fine as long as it's not zero, in which case I get this error:
[code]

[2020-04-23 09:03] methk opened #134 "Multivariate Time Series Classification"
Hello, I found [multi_length_sequences.py](https://github.com/philipperemy/keras-tcn/blob/master/tasks/multi_length_sequences.py) very useful and very effective to classify different length time series.

I'd like to ask if is it possible to classify **multivariate time series** (with different lengths) as well. I'm quite new in CNN and, specifically in TCN, so if you have a Python toy example or a

[2020-04-23 09:24] slateralus commented on #134
Hi @methk
Are you are talking about [multi task learning](https://ruder.io/multi-task/index.html#hardparametersharing) ?

Thanks.

[2020-04-23 09:47] methk commented on #134
Hi @slateralus, thanks for your reply.
I think my problem is easier than multi task learning. I'd like to classify time series of different lengths as [multi_length_sequences.py](https://github.com/philipperemy/keras-tcn/blob/master/tasks/multi_length_sequences.py) but these time series have a dimension greater than 1.

For example you can think of a multivariate time series as a series of length

[2020-04-23 09:54] slateralus commented on #134
Hi @methk

`Input(batch_shape=(BATCH_SIZE, MAX_TIME_STEPS, EMBEDDING_LENGTH)`
In your case `EMBEDDING_LENGTH = 3`

Thanks.

[2020-04-23 10:07] methk commented on #134
Thank you @slateralus, I did a quick test and it seems to work fine. I'll try more specific tests in the next hours and I will close the issue.

Thank you again.

[2020-04-23 12:39] philipperemy commented on #132
@jdevoldere in which case would you have a timestep size of 0? I'm not sure Keras/tensorflow can even handle a tensor of 0.

[2020-04-23 14:42] jdevoldere commented on #132
@philipperemy when predicting the very first step of a sequence. for now I work around it by passing a start state to the beginning of each sequence in preprocessing.

[2020-04-24 01:53] philipperemy commented on #132
Well in deep learning, you need an input to generate an output. Otherwise you first output is just purely random. So in your case, you should leave out a few steps before predicting.

[2020-04-24 08:53] #134 closed

[2020-04-25 09:08] philipperemy commented on #131
PR related: https://github.com/philipperemy/keras-tcn/pull/133

[2020-04-26 03:47] #131 closed

[2020-04-26 05:18] philipperemy commented on #130
@miaoweiwei I uploaded an example to demonstrate how to do video processing with a RNN network: https://github.com/philipperemy/keras-tcn/blob/master/tasks/video_classification.py

It's a simple one. If you have time, it'd be great if you can make a pull request by changing this dummy data loader to something that makes more sense such as:

- https://www.crcv.ucf.edu/data/UCF101.php

Useful links:

[2020-04-26 05:18] #130 closed

[2020-04-26 05:25] philipperemy commented on #123
@Hessen525 FC layers are very fast to compute. It's just a matrix multiplication. TCN is a stack of residual blocks with many causal convolutions. It's definitely normal that it takes more time.

[2020-04-26 05:25] #123 closed

[2020-04-26 05:26] philipperemy commented on #132
I'll close this issue if you don't have any other questions. Feel free to re-open it.

[2020-04-26 05:26] #132 closed

[2020-04-26 05:41] philipperemy commented on #118
https://github.com/philipperemy/keras-tcn/pull/135 @thomashirtz I created a PR.
If you want to give me your feedback, feel free to do it. Thanks!

[2020-04-26 05:41] philipperemy commented on #108
Going to close this issue for inactivity.

[2020-04-26 05:41] #108 closed

[2020-04-26 13:33] thomashirtz commented on #118
Woa, nice!
I am not working on TCN these days. I will certainly let you know in a if few weeks when I'll try :)

[2020-04-27 01:37] sumansahoo16 opened #136 "AttributeError: 'Node' object has no attribute 'output_masks'"
While using tcn.tcn.TCN() from the new version
I am getting an error :
[code]
[code]

Thanks in advance.

[2020-04-27 02:11] philipperemy commented on #118
@thomashirtz sure no problem!

[2020-04-27 02:12] philipperemy commented on #136
@sumansahoo16  Which version of tensorflow/keras are you using?

[2020-04-27 02:16] sumansahoo16 commented on #136
2.2.0-rc3

[2020-04-27 02:18] philipperemy commented on #136
Can you try with the latest stable tensorflow 2.0?

[2020-05-22 23:44] jlim13 opened #137 "Using TCN as an Encoder"
How can we use the TCN as an encoder? How can we use the network to produce a single vector representation of the input like the context vector for RNNs? Do we take the last timestep of the output?

[2020-05-25 11:07] eayvali commented on #137
For data input shape (num_samples, timesteps, num_features), you can connect a TCN  layer to LSTM/GRU layer as follows:

        input_layer = keras.Input(shape=(timesteps, num_features))
        cnn_layer=TCN(nb_filters=32,return_sequences=True)(input_layer)
        lstm_layer=LSTM(100)(cnn_layer)
        model = keras.models.Model(inputs = input_layer, outputs = output_layer)

[2020-05-25 11:13] eayvali opened #138 "padding='same' and time dimension not specified"
When I call TCN using padding='same', I get the following error:

output_slice_index = int(self.build_output_shape.as_list()[1] / 2) if self.padding == 'same' else -1
AttributeError: 'tuple' object has no attribute 'as_list'

Any insight?

Also the ReadMe says one can use padding='valid' or 'same', but using 'valid' throws ValueError

Thank you!

[2020-05-28 16:17] AlbertoSabater commented on #138
Hello! I also have an error on that line of code when working with `padding='same'` and undefined timesteps.

This is the pice of code to replicate this error:
[code]
And the error:
[code]

Same code but with causal convolutions works fine:
[code]

I wonder what these lines of code do in the TCN model:
[code]

I am not sure if specifying the timesteps before building the model is a requirement for

[2020-05-31 09:53] HouKun-github opened #139 "fully convolution layer"
Why is this version of the one-dimensional fully convolution layer gone? The previous version had a one-dimensional full convolution, at least the original paper used full convolution to ensure that the sequence is not missing, can you explain?

[2020-06-01 21:09] marsln commented on #136
Hello! I am also having this issue. I am using google colab with tensorflow 2.1.0
and keras 2.3.1.

[2020-06-02 02:21] philipperemy commented on #136
@marsln can you use keras 2.2.4? Seems like they introduced some compat breaking changes.

[2020-06-02 10:06] marsln commented on #136
It worked..! Thanks! :)
..with tensorflow 2.2.0 and keras 2.2.4.

[2020-06-02 12:53] philipperemy commented on #136
Great!

[2020-06-03 07:33] philipperemy commented on #139
@HouKun-github hey could it be linked to https://github.com/philipperemy/keras-tcn/pull/133?

[2020-06-03 07:41] philipperemy commented on #138
@AlbertoSabater those steps were introduced for the non causal TCN:

https://github.com/philipperemy/keras-tcn#non-causal-tcn.

The idea is that you take the middle instead of the last value on the right when you're not working in a causal setting.

It's possible that a bug got introduced recently since this non causal mode ("same" mode) is not very much used.

[2020-06-03 07:57] philipperemy commented on #138
I'll look into it. Are you guys running the latest tensorflow? >2.1 and the latest Keras? >2.2.4
I know they changed a lot in those versions and this could explain why we have those problems happening here.

[2020-06-03 09:49] AlbertoSabater commented on #138
Thank you for your answer! I understand the current implementation but it does not handle multiple length inputs.

In order to handle multiple length inputs, one solution could be to output the value that is calculated with the last part of the sequence, no matter its length. For instance, if we have a receptive field of `5`, the predicted value on time `t`, depends on the inputs values correspond

[2020-06-03 10:42] philipperemy commented on #138
https://github.com/philipperemy/keras-tcn/pull/140
So first, I added a check but I'm going to see what we can do in the meantime.
The length of the sequence is unknown at build time and that's the tricky part.
So I guess like what you said we could have `T-(receptive_field/2+1)`.

[2020-06-03 13:02] philipperemy commented on #137
@jlim13 I would say you should use `return_sequences=False` to return the last timestemp. And then you can unroll with your decoder. TCN are LSTM classes are inter-changeable. So any example you find that works with LSTM for encoder-decoder should work for TCN.

[2020-06-03 13:02] #137 closed

[2020-06-03 13:04] philipperemy commented on #137
The answer of @eayvali also work, you can stack a TCN and a LSTM to produce a vector.

[2020-06-03 13:04] philipperemy commented on #118
Merged https://github.com/philipperemy/keras-tcn/commit/afdb50a9ed622326151187f0f0b84b7896cfcd72

[2020-06-03 13:04] #118 closed

[2020-06-03 14:59] AlbertoSabater commented on #138
Perfect! Thank you

[2020-06-05 01:17] philipperemy commented on #138
So at build time we don't have any information so we can't really do it here.

But during the call time we can hack it by fetching the value of the tensor and perform the x/2 operation.

[code]

[2020-06-05 01:18] philipperemy commented on #138
I can recover the value 2 with your example when the sequence is of length 5.

[2020-06-05 01:20] philipperemy commented on #138
I'm just concerned by this function that will not be correct in this case:

(But I've never had any cases that used this function in practice)...

[code]

[2020-06-05 01:22] philipperemy commented on #138
cc @eayvali @AlbertoSabater
TL;DR: We are close to a solution for the case where the time dimension is not specified (None).

[2020-06-05 01:56] #62 closed

[2020-06-05 01:56] philipperemy commented on #62
Issue resolved. I think there’s an example with keract in the examples folder

[2020-06-05 03:22] philipperemy commented on #138
Ok so there's a pretty huge pull request here: https://github.com/philipperemy/keras-tcn/pull/143
With a lot of testing. I'll merge it once it passes the CI.

[2020-06-05 04:33] philipperemy commented on #138
Version 3.1.1 with the changes of the PR mentioned above (merged).
It should be working well now!
Let me know if it's not clear. I'll close this PR in the meantime.

[2020-06-05 04:33] #138 closed

[2020-06-05 07:13] philipperemy commented on #136
I'll close this issue for now.

[2020-06-05 07:13] #136 closed

[2020-06-05 07:43] philipperemy commented on #112
I'll close this issue for now. If you have any other questions please make a new issue :)

[2020-06-05 07:44] #112 closed

[2020-06-07 00:02] bjourne opened #145 "Getting bad TCN performance"
Hi. I'm using your TCN for sequence prediction and I'm getting quite bad results in comparison to an LSTM. Maybe I'm doing something wrong or maybe there is a bug?

I'm comparing the units using:

    from tcn import TCN
    from tensorflow.keras import *
    from tensorflow.keras.layers import *
    from tensorflow.keras.optimizers import *
    import numpy as np

    SEQ_LEN = 64
    text = open

[2020-06-09 00:30] philipperemy commented on #145
@bjourne can you run it a bit more than just one epoch?

[2020-06-11 17:23] AlbertoSabater opened #146 "How the receptive field affect the output result"
Hi! I am running some tests to check how the receptive field after the output result.
Maybe I am misunderstanding the TCN architecture, but theoretically, the beginning of a sequence longer than the receptive field should be ignored by the model because it doesn't have a memory long enough.

This is the test I have run, where I show that extending the sequence from its beginning (out of the recept

[2020-06-14 07:03] sychen1218 opened #147 "How to do with both numeric variables and categorical variables?"
Hello, my input data  has both numeric variables and categorical variables? and one of categorical variables has many values, for example 'id', there are more than 1000 values, how to input them to TCN?

Looking forward to your reply, Thanks very much!

[2020-06-25 22:50] AlbertoSabater commented on #146
Does anyone have any idea why samples out of the memory view still affect the final result? Is that a desired behavior?

[2020-07-06 16:35] jdevoldere opened #152 "Can't train on certain batch shapes"
For some reason it's impossible to train on an X and y shape of (48, 24, 6) and (48,) respectively.

[code]
Results in the following error:
[code]
Everything works as it should when replacing the TCN layers with LSTM layers.
When using an X and y shape of (64, 48, 6) and (64,) instead, everything works as it should using TCN layers.

[2020-07-06 16:42] #152 closed

[2020-07-06 16:44] jdevoldere commented on #152
Realized my specified batch_shape was wrong...
Odd how it still worked using LSTM layers.

[2020-08-16 07:25] Kitaharakasusa opened #154 "how to update tcn model"
I want to use this model for an online task, once I predict, I need to update the model by using the real data, what should I do?

[2020-08-16 11:05] nas2000co opened #155 "the model save but dosnt load - ValueError: Unknown layer: TCN"
thanks ,  it is very fast and has very good Performance

Unfortunately - i can save Model but  cant load it again ,  always i encounter with below error!!!!!
ValueError: Unknown layer: TCN

please Help
for example :  your sample code
![001](https://user-images.githubusercontent.com/67532767/90332896-0c440080-dfd6-11ea-9445-496a2d15ebc5.PNG)

[2020-08-17 05:03] philipperemy commented on #155
@nas2000co can you follow the example in https://github.com/philipperemy/keras-tcn/blob/23845be7a35bb8bff6fbd8d3ccb5e7e50c9e4884/tasks/save_reload_sequential_model.py#L1 and tell me?

[2020-08-17 05:03] philipperemy commented on #155
I guess you need to give `custom_objects={'TCN': TCN}` when you load the model. Otherwise the layer will be unknown.

[2020-08-17 05:20] nas2000co commented on #155
Thanks So much thats worked very well !!!!!!!!!!!!!!!!!!!!

`new_model= tf.keras.models.load_model('model.h5' , custom_objects={'TCN': TCN})`

[2020-08-17 05:27] nas2000co commented on #78
according to 'philipperemy'  guide for loading the "h5 " models that are content TCN layers you must add a parameter to load_model command :

`new_model= tf.keras.models.load_model('model.h5' , custom_objects={'TCN': TCN})`

and Finish !!!!

thanks to philipperemy

[2020-08-17 07:21] philipperemy commented on #155
Great!!!! I'll close this issue. Happy I could help :)

[2020-08-17 07:21] #155 closed

[2020-08-19 09:56] philipperemy commented on #154
Update the model means back-propagation? If so use `train_on_batch()`. This is not specific to TCN, it's for every Keras model.

[2020-08-29 10:10] adriang133 commented on #146
They do seem to be roughly equal, save for some precision errors visible if you look at the output tensors.
[code]

[2020-09-11 17:44] rjpg commented on #145
Also in my cases studies WaveNet is better ...

[2020-09-11 17:50] rjpg opened #160 "Load and save different values"
using keras model checkpoint :

`Epoch 00061: val_mse did not improve from 0.02534`

but after load :

`MSE :  0.03303073
`

I had this problem in my model in keras and it was bad use of lambda functions in keras ...

[2020-09-12 05:29] philipperemy commented on #160
@rjpg can you paste a snippet showing that it's not working?

If I refer to this TCN test, it seems to work for this configuration: https://github.com/philipperemy/keras-tcn/blob/master/tasks/save_reload_model.py

[2020-09-12 05:29] philipperemy commented on #154
Closing this question for inactivity and because it's not clear.

[2020-09-12 05:29] #154 closed

[2020-09-15 14:35] AlbertoSabater opened #161 "Reuse computations for online testing"
Hi! Let's say that we want to use this TCN implementation in a real system that produces data each time-step. To get real-time results we make one prediction for each time-step, that means, one forward pass with the last data obtained along with the previous ones up to the TCN recepteive field/memory.

If we repeat this for each time-step, we are also repeating the computation of many convolution

[2020-09-18 02:49] Kitaharakasusa opened #162 "the relationship between receptive field and the input sequence timestep"
I'm confused about this problem, does the receptive field have to be larger than the input timestep? if my  input is [batch_size, 1, 6]
can the TCN work?

[2020-09-19 07:31] philipperemy commented on #162
@Kitaharakasusa for a given sequence, the prediction at time t will only see from t-receptive_field to t.
So if you have a sequence of 100 and a receptive field of 20, the TCN will predict 100 values where each one depends on the last 20 values. That means the predict at index 48 for example will only see from 27 up to 47.

[2020-09-23 08:31] philipperemy commented on #162
I'll close this question. If it's not clear, please feel free to re-open it. Thank you!

[2020-09-23 08:31] #162 closed

[2020-09-24 20:20] dependabot-preview[bot] opened #163 "Dependabot couldn't authenticate with https://pypi.python.org/simple/"
Dependabot couldn't authenticate with https://pypi.python.org/simple/.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/philipperemy) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/philipperemy/update-logs/48638545).

[2020-09-25 05:15] #163 closed

[2020-09-25 05:15] philipperemy commented on #161
@AlbertoSabater yes it's not possible at the moment. But it definitely makes sense. Related to https://github.com/philipperemy/keras-tcn/issues/69

[2020-09-25 09:45] psomers3 commented on #161
If the input data all shifts one index, I'm not sure which convolutions stay the same... Seems to me like none of them will result in the same output.

[2020-10-03 02:04] shdeldari opened #164 "optimizer.apply_gradients doesnt update the weights"
Hi,

 I think there might be an issue with updating the weights using optimizer.apply_gradients. When I train the TCN layer using model.fit(), everything is fine and it works well. However, when I try to update the variables using optimizer.apply_gradients, nothing can be learnt. I hope someone can help me with this issue. I appreciate your help. Thanks

[code]
I am using Tensorflow 2.3.0.

[2020-10-04 05:43] #164 closed

[2020-10-05 13:39] farzinaa commented on #28
I am reopening this as there are errors with the newer versions of tf and keras (see below)
Could you please help? Thanks .

`y_true, y_pred
2020-10-05 15:35:52.156510: I tensorflow/stream_executor/platform/default/dso_loader.cc:48] Successfully opened dynamic library libcublas.so.11
2020-10-05 15:35:52.419918: I tensorflow/stream_executor/platform/default/dso_loader.cc:48] Successfully opened dyn

[2020-10-05 13:45] farzinaa opened #165 "Question regarding newer versions of tf and Keras"
This is probably the same issue as https://github.com/philipperemy/keras-tcn/issues/28.
I am reposing this as there are errors with the newer versions of tf and keras (see below).
Could you please help? Thanks.

y_true, y_pred
2020-10-05 15:35:52.156510: I tensorflow/stream_executor/platform/default/dso_loader.cc:48] Successfully opened dynamic library libcublas.so.11
2020-10-05 15:35:52.419918: I

[2020-10-07 02:12] philipperemy commented on #165
Only use `tf.keras` and not `keras` for your imports.
It should work well with tensorflow 2.3.

[2020-10-07 02:15] philipperemy commented on #165
I removed keras as dep from everywhere: https://github.com/philipperemy/keras-tcn/commit/7e29d171592567e7a469a3e81e3aa8d5c131c15d.
Let me know if you still have problems.

[2020-10-08 15:43] farzinaa commented on #165
Thank you for a very quick reply.
If anyone else is using Manjaro and have the same issue, I would recommend downgrading the Cuda to version to 10.1 and using the TensorFlow and Keras in pip.

[2020-10-08 15:46] #165 closed

[2020-10-11 22:36] puneat opened #166 "Clarification about input_dims"
Hey,

I've been trying to use TCNs for images and I needed clarification about the input shape.
My image is a temporal image of size (259 x 50) representing (time_steps x height). In a visual representation, it is somewhat like a normal spectrogram image. Now I understand that TCN is essentially a 1-D FCN plus causal convolutions which takes input of size
(batch_size, timesteps, input_dims).

My d

[2020-10-12 01:53] philipperemy commented on #166
- The way you use TCN is exactly the same as LSTM: https://keras.io/api/layers/recurrent_layers/lstm/.
- The advantage of the TCN is for long sequences (time steps > 50 or 100 usually).

To answer your question, the input dim of the Keras TCN is the input dim of the Conv1D layers. If I can draw a parallel with a simple ConvNet, it would be your color channel (dim = 3). Each dim here is independent

[2020-10-12 14:39] puneat commented on #166
That clears it up!
Basically, the Input tensor(batch_size, time_steps, input_dims) is convoluted using 1D convolutions for each of the input_dims (50) and then the output is reshaped to (batch_size, time_steps, nb_filters).

Thanks a lot!

[2020-10-12 14:39] #166 closed

[2020-11-08 04:15] scstu opened #167 "keras-tcn does not seem to use GPU !!"
I'm reporting this Issue while using Colab. After installing Keras-tcn (using !pip install keras-tcn), everything is just working fine. however, every other layer is fast except when integrating tcn into the network, the code went very slow.
btw, I'm using the pro subscription of google colab!.

[2020-11-10 03:08] philipperemy commented on #167
@scstu not sure here because it works on GPU when not using collab (at least). So maybe check that you have installed tensorflow-gpu! It works with 2.3.0 (at least).

[2020-11-28 20:30] farzinaa commented on #70
Hi. The link is not working. Any chance you can share the correct link? Thanks.

[2020-11-29 02:50] philipperemy commented on #70
@farzinaa https://github.com/philipperemy/keras-tcn/blob/master/tasks/save_reload_sequential_model.py

[2020-12-01 11:39] user4325 opened #169 "keras-tcn compatibility issues"
Hi,
I do have issues trying to run keras-tcn.
Here are some details on what I've been trying:

python(3.8), keras(2.4.3), tensorflow(2.3.1), keras-tcn(3.1.1) -> keras-tcn is downgrading keras to 2.3.1.
Issue:  Raising erro message: tensorflow.python.framework.ops has no atribute _TensorLike.
in: env\name\Lib\Site_packages\keras\backend\tensorflow_backend.py , line 703, I modified tf_ops._TensorLik

[2020-12-02 09:26] user4325 commented on #169
In case it can serve for someone, I found a fix:
keras-tcn is downgrading the keras version, and is then working fine **IF** al the layers (Sequential, Dense ...) are imported from tensorflow.keras libraries. Do not use keras librairies.
A classical ML architecture, without tcn will then need the tensorflow.keras librairies.

If keras-tcn is not used, the with all the latest version, keras librair

[2020-12-02 09:27] #169 closed

[2020-12-05 05:27] #167 closed

[2020-12-12 15:30] farzinaa commented on #70
Thanks you.

[2020-12-15 14:50] user4325 opened #170 "Various filter size"
Hi,
I'm trying to use keras-tcn code to replicate a tcn algorithm build on pytorch:
https://github.com/olivesgatech/Estimation-of-acoustic-impedance-from-seismic-data-using-temporal-convolutional-network

I think I'm getting close, but run into an error during the process.

For each Temporal Block (i.e. each dilation value [1, 2, 4 ...] ), the number of filters used for the convolutions (in the py

[2020-12-15 16:23] davircarvalho opened #171 "[help] prediction"
Hello,

 I have trained a classification model using a _compiled_tcn_,:

`model = compiled_tcn(return_sequences=False,
                    num_feat=x_train.shape[2],
                    num_classes=7,
                    nb_filters=64,
                    kernel_size=8,
                    dilations=[2 ** i for i in range(8)],
                    nb_stacks=2,
                    dropout_rate=0.2,

[2020-12-15 19:41] #171 closed

[2020-12-21 16:16] fsbashiri opened #172 "Keras version"
I am using Keras-tuner (1.0.1) for hyper-parameter tuning, which requires Keras==2.4.3. When I installed Keras-tcn, it automatically installed Keras-tcn 3.1.1 (I assume it's the latest version) and downgraded Keras to keras==2.3.1. The problem is I want to use Keras-tcn and Keras-tuner, which they each require a different version of Keras, and neither work with the version of Keras that is compati

[2020-12-30 10:13] philipperemy commented on #172
Um, I'll see that. Ideally, we should not even rely on Keras.

[2020-12-30 10:18] philipperemy commented on #172
I'm going to push a new version: 3.1.2. Keras dependency will be removed.

[2020-12-30 10:35] philipperemy commented on #172
Version 3.1.2 is out. https://github.com/philipperemy/keras-tcn/commit/f6c3f042ea53a16fd9e0c644837fb7cf4df52e9d

[code]

[2020-12-30 10:35] #172 closed

[2021-01-03 09:05] philipperemy commented on #160
I'll close this issue for inactivity. Please update to the latest TCN and try again. Re-open it if you see something.

[2021-01-03 09:05] #160 closed

[2021-01-03 09:06] #161 closed

[2021-01-03 09:12] philipperemy commented on #170
@user4325 well it somehow makes sense that the dimensions do not match because the filters are of different sizes. Adding skip_connections sums the outputs over many layers. We can always add 1x1 conv to match the outputs of all the layers? Or have dense layers? For example if I have filters=[10,20,30], we can probably consider the biggest filter size (30) and consider the transformations 10->30 a

[2021-01-03 09:17] philipperemy commented on #147
The easiest way is to use one-hot encoding for your categorical variables and concatenate them with the numeric values and feed that as a big tensor to the TCN. But ideally, you would like to condition on those categorical variables.
You can check this repo it might get you some ideas: https://github.com/philipperemy/cond_rnn.
Re-open this issue if you have more questions!

[2021-01-03 09:17] #147 closed

[2021-01-04 10:13] user4325 commented on #170
Hi, thanks for your answer!
I found a way to build the architecture as I wanted to, based on that:
https://www.programmersought.com/article/13674618779/

Also, I might be a bit confuse about what skip_connections is exactly doing.
So here is a quick explanation of what I did -> my own translation of the pytorch code I want to replicate, based on the previous link, and maybe two elements of solutio

[2021-01-04 18:42] ShashiAdhikari opened #175 "Regarding the VideoClassification.py"
If we have to use our own video dataset to train the TCN, in videoclassification.py how can we do that? Any help with this will be appreciated thanks.

[2021-01-05 13:54] SharkFin-top opened #176 "Does it have a document?"
Does it have a document?

Thank you!

[2021-01-05 16:09] SharkFin-top opened #177 "How do I use the trained model to make predictions about the future?"
This page TimeSeries Foresting

https://colab.research.google.com/github/ashishpatel26/tcn-keras-Examples/blob/master/TCN_TimeSeries_Approach.ipynb

![image](https://user-images.githubusercontent.com/55095619/103669205-06fe4700-4fb3-11eb-905f-3f7e0c811fbe.png)

This graph shows the model predictions compared to the true values of the training data. How do I use the trained model to make prediction

[2021-01-14 10:31] philipperemy commented on #176
@SharkFin-top what do you mean?

[2021-01-14 10:39] SharkFin-top commented on #176
Well...Some more details on how to use it.

[2021-01-14 11:18] psomers3 commented on #176
[How to use keras-TCN](https://github.com/philipperemy/keras-tcn)

[2021-01-14 11:24] psomers3 commented on #177
Maybe [this](https://towardsdatascience.com/lstm-time-series-forecasting-predicting-stock-prices-using-an-lstm-model-6223e9644a2f) can help you understand how to use trained models for prediction. An lstm network is used the same as a TCN.

[2021-01-14 11:25] SharkFin-top commented on #177
Thank you so much!

[2021-01-14 11:56] philipperemy commented on #176
Yes please refer to the README and the examples.

[2021-01-14 11:57] philipperemy commented on #176
Keras TCN can be used the same as any RNN (LSTM, GRU) of Keras.

[2021-01-24 05:29] #176 closed

[2021-01-26 05:47] philipperemy commented on #177
Thanks guys :) I'll close this issue.

[2021-01-26 05:47] #177 closed

[2021-01-26 05:48] philipperemy commented on #175
This repo is not something you plug and play. It's an implementation of the TCN architecture. To train it on your own videos, follow any tutorials on the internet and replace LSTM by TCN.

[2021-01-26 05:48] #175 closed

[2021-01-28 13:59] clearly-outsane opened #178 "[Question] Can input_dim be a vector?"
Hey!
I wanna say thanks for all the effort into this repo it's really helped me get started with TCNs.

I'm having trouble formatting my input to the 3D tensor that the api requires (batch_size,timesteps,input_dim) . Let me briefly describe my problem. I have a set of trajectories  (let's say around 600) and each of these have a sequence of 117 images with their corresponding labels). I'm not sure

[2021-01-29 05:08] #178 closed

[2021-01-29 05:09] clearly-outsane commented on #178
Nevermind - short answer was yes . I fouind the video classification example

[2021-01-29 08:18] clearly-outsane opened #179 "Callback issue with Colab"
I'm using the example code under API (an example for regression is given) in the README and the only change I am doing is adding a callback like so :
[code]

I keep getting this error:
![image](https://user-images.githubusercontent.com/44093134/106249592-91e00380-6238-11eb-9c8a-f566cc359986.png)

I'm not sure if this is a tensorflow problem or a problem with the library but I'm only getting this e

[2021-02-01 08:09] philipperemy commented on #179
@clearly-outsane can you update your TensorFlow version? Or maybe try to downgrade it to 2.3.0?

[2021-02-04 03:52] 266918 opened #181 "Problem with initialization"
**Describe the bug**
I have run the sequential model multiple times and it produces inconsistent results.
Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #   
=================================================================
tcn (TCN)                    (None, 10)                2940      
__________

[2021-02-04 05:53] philipperemy commented on #181
@266918 can you paste a full snippet that I can execute on my machine?

[2021-02-04 18:22] 266918 commented on #181
@philipperemy pls try this: https://github.com/266918/TCN-AMAZON-Test/blob/main/tcn-test.py

[2021-02-08 16:21] RaphaelBenistant opened #182 "Problem to save custom model with TCN layer using "model.save""
PROBLEM:
I trained a simple keras model using the TCN model and I want to save the model for a future use.

I use the *save* method from the *Model* object and I encounter the following problem:
![image](https://user-images.githubusercontent.com/55552951/107246908-084ae580-6a31-11eb-9902-2a2ecc798678.png)

I tried the solution provided in a previous issue ([link](https://github.com/philipperemy/ke

[2021-02-09 11:38] philipperemy commented on #182
@RaphaelBenistant thanks for reporting. Can you paste the code instead so that it's easier for me to run it? Thanks!

[2021-02-10 09:18] RaphaelBenistant commented on #182
Yes of course ! I'm also using some specific dataset. I zipped both the code and the file containing data in the zip file (you need them in the same folder/workspace): [TCN+dataset.zip](https://github.com/philipperemy/keras-tcn/files/5957019/TCN%2Bdataset.zip)

[2021-02-10 13:56] philipperemy commented on #182
Try to use load_weights() and save_weights() instead. This will definitely work better.

[2021-02-11 02:52] philipperemy commented on #182
I don't have any problems @RaphaelBenistant with your code.

The predict function returns the same values with model and re_model.

I also listed my env below.

[code]

[code]

[2021-02-11 03:21] philipperemy commented on #181
@266918 can you upload this `./bars/AMZN Historical Data.csv` too?

[2021-02-12 16:26] 266918 commented on #181
it's in the same dir...https://github.com/266918/TCN-AMAZON-Test/blob/main/AMZN%20Historical%20Data.csv
@philipperemy

[2021-02-13 04:30] Caedin opened #183 "First example gives away the answer by inserting the result into the x_train dataset"
**Describe the bug**
First example in the documentation gives away the answer by inserting the result into the x_train dataset

I got perfect prediction results with just a few trains on my first run though.

x_train[pos_indices, 0] = 1.0

Removing this line creates a training curve that makes sense.

Following the example as written:

![image](https://user-images.githubusercontent.com/8877753/107

[2021-02-14 15:02] clearly-outsane commented on #179
I'm kinda struggling to downgrade minor version of tensorflow as I'm using colab for this and it's not as simple as pip install. The version I'm running right now is 2.4.1. Could you please advise me some other solution or atleast a way to debug this?

[2021-02-16 05:57] philipperemy commented on #181
@266918 that's an initialization problem. NNs have random initialization and sometimes it can get stuck at the beginning. So in your case, you can try something like this:

[code]

It will help the gradients flow more smoothly.

And your last layer you can remove the relu as well:

[code]

I know the values you want to predict are positive. Your model will learn it by itself.

[2021-02-16 05:58] philipperemy commented on #183
Yes I think it was done on purpose to make sure the TCN can go back "in time" to the beginning of the sequence to solve the problem.

[2021-02-16 06:01] philipperemy commented on #183
If we remove this line the network will not be able to solve the task.

[2021-02-16 06:02] philipperemy commented on #183
I've updated the README to clarify it: https://github.com/philipperemy/keras-tcn/blob/master/README.md

Thanks for reporting :)

[2021-02-16 06:02] #183 closed

[2021-02-16 06:03] philipperemy commented on #182
I'll close this issue for now as it is a no-bug for me.

[2021-02-16 06:03] #182 closed

[2021-02-16 06:06] philipperemy commented on #179
@clearly-outsane are you trying to feed something with bool as a type? Can you make sure that all your x_train and y_train are of type float? If not, you can cast them with `np.array(x_train, dtype=float)`

[2021-02-16 06:08] philipperemy commented on #179
Tensorflow 2.4.1 does not seem to have any problem. I re-ran the test suite with tensorflow 2.4.1 and all went smooth: https://github.com/philipperemy/keras-tcn/runs/1908410040?check_suite_focus=true#step:4:8.

[2021-02-16 06:44] philipperemy commented on #69
I'll close this issue since it's nontrivial to have that.

[2021-02-16 06:44] #69 closed

[2021-02-16 09:06] philipperemy commented on #145
I am revisiting this issue.

On the smaller version of the shakespeare.txt dataset, I could get:

- TCN: 48.7% accuracy on the test set.
- LSTM: 49.5% accuracy on the test set.

So the gap observed before is not present anymore.

[2021-02-16 09:39] philipperemy commented on #145
I'll close this as the recent PRs have fixed most of the problems described in this PR. The LSTM still outperforms the TCN here (on the shakespeare.txt - 92kb) because the problem is more suitable for LSTM (char[t+1] heavily depends on char[t] and char[t-1] and not much 200 steps behind).

[2021-02-16 09:39] #145 closed

[2021-02-16 09:52] philipperemy commented on #146
@AlbertoSabater I updated the formula of the receptive field. There was an error in it. In your case, the receptive field was 127 and not 64. So that's why your values were equal. Refer to the formula for ample information: https://github.com/philipperemy/keras-tcn#receptive-field.

[2021-02-16 09:57] philipperemy commented on #146
Fix pushed in 3.3.0.

[2021-02-16 09:57] #146 closed

[2021-02-16 10:24] mimxrt opened #185 "Support for tf.RaggedTensor Input"
Currentrly, Keras TCN does not support [`tf.RaggedTensor`](https://www.tensorflow.org/api_docs/python/tf/RaggedTensor) input. It would be very useful for speeding up training for variying length time series inputs. As I understand it, there is no way to batch sequences of different lengths except when using [`tf.RaggedTensor`](https://www.tensorflow.org/api_docs/python/tf/RaggedTensor). See the fo

[2021-02-16 13:36] clearly-outsane commented on #179
It runs perfectly as long as I don't add a callback. It has me stumped as well.
So I decided to make a sample colab notebook with the MNIST example given in your repo just to show you. The only thing I have changed is to add a tensorboard callback.

The link to it is [here](https://colab.research.google.com/drive/1SlcNfyqvjLjgAlxgxR0ktVLNTmPU6duy?usp=sharing). Please do take a look at it and I app

[2021-02-16 20:52] murphycrosby opened #186 "Model Fit deadlocks when training in SageMaker with PipeModeDataset"
Model Fit deadlocks when training on SageMaker with PipeModeDataset. The model works fine when you swap out PipeModeDataset with tf.data.TFRecordDataset(files)

Example TCN Model
`
i = Input(batch_shape=(None, 10, input_dim))
o = TCN(return_sequences=False)(i)  # The TCN layers are here.
o = Dense(1)(o)
m = Model(inputs=[i], outputs=[o])
m.compile(optimizer=args.optimizer, loss='mse')
tcn_full_sum

[2021-02-17 01:16] philipperemy commented on #179
Problem happens with 2.3.0 too. I have no idea why. Is it a tensorboard thing?

[2021-02-17 03:33] clearly-outsane commented on #179
No I tried with various other tensorflow callbacks as well - such as early stopping, saving weights etc. They all give the same error. When I google the error there was nothing concrete to help me out either : ( Essentially there is a boolean somewhere and it shouldn't be there but I have no idea where.

Basically any type of callbacks in model.fit don't work.

[2021-02-17 08:47] philipperemy commented on #179
@clearly-outsane happy to hear! Also some good news. Your code works well when it's not running on Collab. The callback works. I also tried EarlyStopping and it worked too.

[2021-02-18 10:02] clearly-outsane commented on #179
Oh ! Why didn't I try that *facepalm*
Thank you for finding that out! Now I'm even more confused though- why does it happen only on colab.

Okay I'm gonna try using a local runtime on colab and try to host it on some EC2 instance and see if that works. Do you happen to know any place where we can report issues with colab?

[2021-02-19 01:34] #181 closed

[2021-02-19 02:18] philipperemy commented on #179
@clearly-outsane not sure why but I've seen other problems that were only related to collab.
Let me know if you find a way to make it work :)

[2021-02-19 20:40] kiminc66 opened #187 "Keras-TCN installs tensorflow (cpu version) automatically"
I am trying to install Keras-TCN (ver. 3.3.0) using "pip install keras-tcn" on virtual env where tensorflow-gpu (ver. 2.3.0) was already installed.
I found that keras-tcn automatically installs the latest version of tensorflow (cpu version) ver. 2.4.1.
As a consequence, I have both tensorflow cpu (ver. 2.4.1) and gpu version (2.3.0), and due to their different version of package dependencies it ca

[2021-02-22 18:11] clearly-outsane opened #188 "'ValueError: Unknown layer: TCN' when trying to save the model using mode.save()"
**Describe the bug**
When I try to save my model which has a TCN layer from this library(this repo) it doesn't work

**Paste a snippet**
![image](https://user-images.githubusercontent.com/44093134/108750619-408d1080-7567-11eb-811f-3bb73454c901.png)

**Dependencies**
Just running it on colab with tensorflow version 2.4.x

[2021-02-23 14:57] philipperemy commented on #187
@kiminc66 try this:

https://stackoverflow.com/questions/12759761/python-pip-force-install-ignoring-dependencies

[code]

[2021-02-23 14:57] #187 closed

[2021-02-23 15:00] philipperemy commented on #188
@clearly-outsane try this:

[code]

Not sure if you need the `glorot_uniform` but I put it anyway. I haven't had time to see if it was necessary. The TCN layer is definitely necessary.

[2021-02-24 06:38] philipperemy commented on #188
Let me know if it worked ;)

[2021-02-24 06:38] #188 closed

[2021-02-24 12:08] clearly-outsane commented on #188
Oh thank you I'll try this. I apologise for not being too familiar with how to handle this so thanks!

[2021-02-24 13:07] philipperemy commented on #188
No problem!

[2021-02-24 18:02] clearly-outsane commented on #188
Yes it works!

[2021-03-03 03:32] zeydabadi opened #189 "How to exactly use keras-tcn for Many to Many regression?"
Hi,
I have installed the tcn using `pip install keras-tcn`.
From the Readme file, I learned that the current version does not support many to many regression, and it is suggested a workaround for this. However, it is not clear to me how to apply this change and if there would a way to pass the number of time steps in the output features to the last `Dense()` layer?
For example, please consider thi

[2021-03-03 08:39] cyber520 opened #190 "about the initial state like RNN, LSTM or GRU"
Thanks for your nice work. But I am still confused about this question, like the API below,
tf.compat.v1.nn.dynamic_rnn(
    cell, inputs, sequence_length=None, **initial_state**=None, dtype=None,
    parallel_iterations=None, swap_memory=False, time_major=False, scope=None
)
In the traditional RNN, there's a variable called **initial state**, but **in the tcn, I could not see the value**. Could y

[2021-03-04 02:51] philipperemy commented on #190
Yes, an LSTM/GRU has an initial state because it contains hidden vectors and cells.
A TCN does not have states. Think about it as a CNN model that is able to work on time series.

[2021-03-04 07:20] cyber520 commented on #190
But I need this variable for training, do you have any ideas for solve this dilema, Thks for your reply.

[2021-03-04 07:40] philipperemy commented on #190
You don't need to have it for TCN. If you have it somewhere just set it to None.

[2021-03-05 02:50] #190 closed

[2021-03-05 03:00] philipperemy commented on #189
@zeydabadi. Try this:

[code]

[2021-03-05 03:01] philipperemy commented on #189
Source: https://datascience.stackexchange.com/questions/46491/what-is-the-job-of-repeatvector-and-timedistributed

[2021-03-05 03:01] #189 closed

[2021-03-10 05:30] philipperemy commented on #185
@mimxrt not sure exactly why it does not work. This should work in theory:

[code]

Ref: https://github.com/tensorflow/tensorflow/issues/27170

[2021-03-10 09:55] mimxrt commented on #185
I'm not sure why but it doesn't work for me. I also made sure to get the latest version of TensorFlow this time! Can you try and run this example?
[code]
Output for me:
[code]

[2021-03-11 00:11] philipperemy commented on #185
@mimxrt yes it does not work for me too. But seems like it's a Keras issue here.

[2021-03-11 10:46] mimxrt commented on #185
Thanks for testing! I created another script that shows that it works by simply using `tf.keras.layers.LSTM` instead of `TCN` (only one line difference):
[code]
Output:
[code]
Is there anything that I need to configure properly to make it work with TCNs?

[2021-03-11 13:36] philipperemy commented on #185
I'd say it's because we have a custom function to build() the network. The support for RaggedTensor should be about updating this function. That's my gut feeling.

[2021-03-11 14:02] mimxrt commented on #185
Maybe it also has something todo with this issue: https://github.com/tensorflow/tensorflow/issues/42417?

However, I also don't really know what's the technical difficulty as in my understanding everything that supports `tf.keras.layers.Masking`, should also be able to support `tf.RaggedTensor`. In the worst case you would have to manually pad the ragged tensor data to the maximum length and mask

[2021-03-11 14:04] philipperemy commented on #185
Yes, I think you are right here. It's related. I'll see what I can do ;)

[2021-03-17 10:48] HalfMAI opened #193 "Testing time_series_forecasting.py with version 3.3.1, the prediction results are very different from version 3.2.1"
**Describe the bug**
Testing time_series_forecasting.py with version 3.3.1, the prediction results are very different from version 3.2.1

**Paste a snippet**
3.3.1 notebook:
![image](https://user-images.githubusercontent.com/5293796/111455762-294dd700-8751-11eb-80b3-403eb607bf22.png)
https://colab.research.google.com/drive/1xTjddAcNgNRpXzRXZbkq3HzmwTxsBVJg?usp=sharing

3.2.1 notbook:
![image](http

[2021-03-17 12:37] Luux opened #194 "[3.3.1] Normalization broken"
**Describe the bug**
Setting use_batch_norm or use_weight_norm to True results in "AttributeError: Only one normalization can be specified at once."
use_layer_norm works = True works as expected. This occurs in keras-tcn==3.3.1, it also works as expected in keras-tcn==3.3.0.

**Paste a snippet**
[code]

results in

[code]

**Dependencies**
Specify which version of tensorflow you are running.
tenso

[2021-03-17 12:59] Luux commented on #194
Oh. The exception works as expected. However, in 3.3.1, use_layer_norm defaulted to True, while both older versions and the current master do not have any normalization activated per default.

[2021-03-17 13:01] #194 closed

[2021-03-17 15:28] Luux opened #195 "use_weight_norm=True -> Model fails to load when using *.tf model format."
**Describe the bug**
This one took me a while to isolate. If you set use_weight_norm to True and save the model *not* in the h5 format as in the loading example, but in the new tf-format, using weight normalization results in tensorflow not being able to load the model again.

**Paste a snippet**
[code]
This results in errors such as
[code]

I also tried to specify the TCN as custom object just as

[2021-03-18 09:00] philipperemy commented on #195
@Luux tough one. What I can say right now is that the weight_norm depends on something in tf addons. So there's definitely more than just tf involved here. All the other norms are in pure tf.

[2021-03-18 09:02] philipperemy commented on #193
@HalfMAI we changed some of the default parameters in 3.3.1. In your first plot, it seems that the training got stuck at the beginning and the optimizer could not work properly. If you re-run a few times do you always see this behavior?

[2021-03-18 09:03] philipperemy commented on #193
Can you try the 3.3.1 with the previous set of hyper parameters here: https://github.com/philipperemy/keras-tcn/commit/d3e01fd5a95146871487a0065959d87027c18ea7 (the one in red on the left are the previous ones).

[2021-03-19 02:45] HalfMAI commented on #193
Thanks for the reply. After resetting the default parameters as before, it did work after a few tests.
Here are the results after rebooting and testing several times.
![image](https://user-images.githubusercontent.com/5293796/111724017-73dd6980-889f-11eb-8444-ffac5874ac15.png)
![image](https://user-images.githubusercontent.com/5293796/111724086-95d6ec00-889f-11eb-97b1-27ae325b48a7.png)

[2021-03-19 02:45] #193 closed

[2021-03-19 02:57] philipperemy commented on #193
@HalfMAI okay so might be worth reverting to the default parameters.

[2021-03-21 13:22] Alexander-Serov opened #196 "Why does the perceptive field formula differ from the calculation?"
**Describe the bug**
The readme provides the following perception field calculation formula:
https://user-images.githubusercontent.com/12395799/106308730-6d4c5180-6261-11eb-82e9-a12a1958058d.png
![image](https://user-images.githubusercontent.com/22743277/111906436-e17cc780-8a50-11eb-84e8-69aec4afe15e.png)
where one sees `(k[n]-1)` under the sum.
However, the current code (v.3.3.1) uses `k[n]` in t

[2021-03-24 08:48] Luux opened #197 "[tf2.4] Saving a model: WARNING:absl:Found untraced functions[...]"
**Describe the bug**
During saving a *.tf model with tensorflow 2.4, the following warnings occur:
[code]

These do *not* occur with tf2.3.

**Paste a snippet**

[code]

**Dependencies**
tensorflow==2.4.1
keras-tcn @ commit https://github.com/philipperemy/keras-tcn/commit/455a035251d84840bfffbd761889615776b2c303

[2021-03-24 08:58] Luux commented on #197
Note that LSTMs currently face a very similar issue: https://github.com/tensorflow/tensorflow/issues/47554

[2021-03-24 13:00] dingfengqian opened #198 "How to use TCN for multidimensional time series prediction？"
Hi, Thanks very much for your open codes. I have a quenstion about the prediction for multidimensional data.
If the input for TCN is set (None, 10, 5), it means that a window contain 10 data, and the dimension of each data is 5. I want to know how the TCN to work for the prediction, is to create a TCN for each dimension to make a separate prediction?
Looking forward to your reply.

[2021-03-24 13:15] Luux commented on #198
Hi, I'm not sure what you mean by that? For prediction, you also input a time series just like in training. The shapes are the same as with a normal LSTM.
So for (None, 10, 5) you have 10 time steps where each has 5 features. The _None_ is for the batch size, so you can ignore that and just look at the (10, 5).

[2021-03-24 13:30] dingfengqian commented on #198
Thanks for your reply. For the predction of (None, 10, 5), I want to know whether it can be regarded as a TCN model with the same parameters to make separate predictions for these 5 dimensions. That is, a TCN model that makes separate predictions for 5 inputs of (None, 10, 1).

[2021-03-24 15:14] Luux commented on #198
So if you want to make separate predictions where the features should be treated as independent (-> should not influence/"know" each other entirely!) then you'd really have to create different TCN models.

If you do not want to treat them as completely independent features and just want 5 output dimensions as well, you can use one TCN normally.

[2021-03-25 01:45] philipperemy commented on #198
@Luux thanks for helping and replying to Ding. I can add a few more things.
@dingfengqian Your input_dim dimension is similar to the channel of an RGB image and a simple convolution. So yes there will be some interactions. It is definitely not the case where we fetch one by one the input dimensions and run the TCN one each of them. Inside the filters, there are some matrices that will map input_di

[2021-03-25 10:52] Luux commented on #198
But only if the same filters/weights can be applied for each of these entries, of course. If they are features that depict entirely different things that cannot be modeled in the same way, you need different TCNs of course.

[2021-03-25 18:20] healthyertech opened #199 "TypeError when creating a tensorflow.keras model with TCN layer - keras-tcn"
Hi all,
I have recently started to study temporal convolutional networks and I was trying to implement a model using the keras-tcn library.
To get familiar with the library, I tried to run the example script for regression task presented in the README file, but I get the following error when the Sequential model is created:

`Traceback (most recent call last):

  File "C:\Users\vince\anaconda3\env

[2021-03-26 04:12] philipperemy commented on #199
Can you try with tensorflow==2.4.1?

I've never seen this error before!

[2021-03-26 04:19] philipperemy commented on #196
@Alexander-Serov yeah there's something wrong here. I'll try to investigate that more.

[2021-03-26 04:26] philipperemy commented on #196
Seems like the correct formula is `1 + self.nb_stacks * sum([d * (self.kernel_size+1) for d in self.dilations])`.
From some of the tests I did.

[2021-03-26 06:58] philipperemy commented on #198
I'll close this issue for now as I think we gave ample information.

[2021-03-26 06:58] #198 closed

[2021-03-27 11:39] philipperemy commented on #196
![image](https://user-images.githubusercontent.com/4516927/112719486-9117d500-8f3c-11eb-9190-178e873a3773.png)

[2021-03-27 11:40] philipperemy commented on #196
![image](https://user-images.githubusercontent.com/4516927/112719508-a55bd200-8f3c-11eb-83c0-88c6171a07d7.png)

Here is the right formula. I'm going to update the code and the README.

[2021-03-27 11:54] philipperemy commented on #196
Thanks for raising this problem! It has been merged to master: https://github.com/philipperemy/keras-tcn/commit/bb92425485309042fff120d8ce264998e3562ed8.

A new version 3.4.0 was released.

[2021-03-27 11:54] #196 closed

[2021-03-27 12:15] philipperemy commented on #196
I found this formula empirically by trying a lot of combinations of different parameters. I'm pretty sure it is correct when using the TCN. But theoretically, the 2 is not justified. It seems however the 2 present in the formula might be just a problem of notation (For example it's possible that if we want to specify dilations 1-2-4-8, we should only give to 1-2-4 to TensorFlow). One's should insp

[2021-03-27 12:21] philipperemy commented on #196
I added a note in the README. For later work.

[2021-03-27 12:36] philipperemy commented on #196
Ref: https://stackoverflow.com/questions/63073760/using-dilated-convolution-in-keras

[2021-04-08 15:26] MBSMGW opened #200 "Random Layer Names"
**Describe the bug**
When using the tcn_full_summary() to output the model arrangement, all of the numberings are either out of order or random. If the numbers were all ascending maybe i wouldn't have batted an eyelid, but i just can not find anything to explain why the numbers are jumbled.

See for example below, the names of the activation layers, moving from input to output:
activation_3 (Activ

[2021-04-08 15:32] MBSMGW commented on #200
Well, i found a pattern in the numbers (The numbers, Mason.. What do they mean?!)
from the first (layer 3), every 5th number is the value of what that spot +3+%4 should be so

0    3
1    0
2    1
3    2
4    7
5    4
6    5
7    6
8    11

Is it just the skip connections causing this?

[2021-04-14 20:07] clearly-outsane commented on #179
So I found this open issue:
[https://github.com/tensorflow/tensorflow/issues/43200](https://github.com/tensorflow/tensorflow/issues/43200)

And with this new found knowledge I removed weight_norm from the TCN layer and callbacks worked as intended with no errors. I'm still not entirely sure why it happens as I've not seen the source code but yeah that's a quick update on what I've found.

[2021-04-21 20:23] maximgeller commented on #185
@mimxrt
Unfortunately I do not think this is true since in the issue that you mentioned it appears that convolutions cannot be applied to tensors with variable length. I've experienced this with ConvLSTM2D as well here: https://github.com/tensorflow/tensorflow/issues/48678

[2021-04-22 15:20] mimxrt commented on #185
@maximgeller I think you might have misunderstood my statement: I meant _if_ masking is supported (i.e., everything that supports `tf.keras.layers.Masking`) _then_ it should technically be possible to support ragged Tensors. The latter still means that someone has to implement it.

[2021-04-25 07:55] MBSMGW opened #201 "Merge issue when using stack size of 1"
When using a stack size of 1, is there an issue with also using skip connections? It just throws an error. I am not sure if it needs to be a bug report or a feature request for automatically deffering to no skip connections for a stack size of 1? anyway, here is the code to reproduce the error:

`def model_create(nb_filters, kernel_size, dropout_rate, lr, dilation):

    #if K.backend() == 'tensor

[2021-04-25 09:02] catubc opened #202 "tcn not converging for neural data prediction"
**Describe the bug**
Hello

This is not a bug, it's more of a question re: use.  Sorry for using the "bug" report, but I wasn't what the correct field was.

I'm trying to predict a behavior label (0=no behavior; 1=behavior) from temporal neural data and am having a hard time getting the model to converge.  My data has shape [n_samples, n_timesteps, n_dimensions], where n_dimensions can be from 1-1

[2021-04-28 05:58] philipperemy commented on #200
@MBSMGW hey there is no logic in the naming. The number related to the activations is given by keras and is a counter that is incremented every time an activation layer is defined. For the Conv Layer we give them names based on where they are but nobody has ever checked in details.

[2021-04-28 06:02] philipperemy commented on #202
You can refer to the guide here: https://github.com/philipperemy/keras-tcn#how-do-i-choose-the-correct-set-of-parameters-to-configure-my-tcn-layer.

Try to print your receptive field with:

[code]

And just match it with 450 (aim a bit higher). In your case, I think your RF is very high hence a very unstable training with the amount of data you have.

[2021-04-28 06:05] philipperemy commented on #199
I'm going to close this issue as I am unable to reproduce the error. Try to upgrade to the latest tensorflow and it should work like a charm!

[2021-04-28 06:05] #199 closed

[2021-04-28 06:12] philipperemy commented on #201
@MBSMGW a stack size of 1 with skip_connections should definitely work! By default the stack_size is 1. Try to use the TCN object instead of using compiled_tcn.

Here is an example that works with compiled_tcn (your case): https://github.com/philipperemy/keras-tcn/blob/1b2c1a6baaefc4a4fac88a74868a23845fb81495/tasks/copy_memory/main.py#L23

[2021-04-28 07:03] #200 closed

[2021-04-28 07:18] catubc commented on #202
Thanks so much Philip.  I started tweaking some of the parameters, and the training set prediction looks much better. There is much higher variance early (e.g. t=-15sec) near t=0, so this asymptotic shape is what we'd like to see.

But I'm still getting overfitting (or better yet, lacking generalization) on the test sets.

![results](https://user-images.githubusercontent.com/4267452/116361523-5df9

[2021-04-28 09:48] philipperemy commented on #202
@catubc I think it's going to be difficult to apply TCN without overfitting on your dataset. The time series are very long (465) and you have just 50/100 of them. It's quite challenging!

Our time steps are 450, and RF 1,191. Is that still too much?
- Not too much! As long as your RF is greater than your sequence length, the TCN will see the whole sequence.

Also, it was not completely clear what

[2021-04-28 12:01] catubc commented on #202
Hi Philip
Thank you again for taking the time to respond. It seems there are some parameters that work better than others. For example, dropout rate seems to have a pretty narrow range (e.g. 0.05-0.1) for some parameter pairs. It also seems like the smaller models don't do well (even on test data), so higher depth/n_params seems to do better (but I've not exhaused the options).

![tcn__nb_filters1

[2021-05-07 03:33] swapnilsayansaha opened #204 "Different version of Keras-TCN/TF combo produces different parameter count in TCN with same hyperparameters"
Code snippet (Python 3.8.8):
[code]

When I run the above snippet using keras-tcn 3.3.0 and tensorflow 2.4.0 (gpu), I get the following network:

[code]

However, when I use keras-tcn 3.4.0 and tensorflow 2.4.1 (gpu), I get the following network:
[code]

Can someone suggest what's wrong? Why will the same network suddenly see a jump in size by almost 16k parameters for different package versions?

[2021-05-07 04:20] swapnilsayansaha commented on #202
I get the same problem but maybe for a different reason:
https://github.com/philipperemy/keras-tcn/issues/204

[2021-05-07 06:23] catubc commented on #202
Good to know. For my data the last plot above is actually not correct (I accidentally trained on test data due to randomizing step), so I'm back to square 1 about finding params that work...

[2021-05-07 06:23] #202 closed

[2021-05-07 21:23] swapnilsayansaha commented on #204
Also note that the TCN with keras-tcn 3.4.0 and tensorflow 2.4.1 (gpu) does not learn anything and just outputs noise, whereas the TCN with keras-tcn 3.3.0 and tensorflow 2.4.0 (gpu) works fine.

[2021-05-08 16:23] MBSMGW commented on #201
Yeah great suggestion, really should have embraced it at the start of thesis instead of trying to wrangle the compiled_tcn function (Which is great, especially starting..)

Thanks!

[2021-05-08 16:23] #201 closed

[2021-05-09 11:01] Ahmad-Omar-Ahsan opened #205 "Implementation of conditional wavenets"
Is there a way to implement conditional Wavenets like the one presented in paper with Keras-TCN layers?

[2021-06-03 16:30] fjehlik opened #206 "ModuleNotFoundError: No module named 'tcn'"
Howdy Folks,

Per the instructions, I installed via "pip install keras-tcn". My system is Linux (Ubuntu 20.04) and I use Anaconda 2.0.3 as my package manager, Spyder 4.2.5 as my python editor (Python 3.8). I verified that the tcn module had been added to the Anaconda site packages (it is in the 'tcn' folder located here):

.~/anaconda3/lib/python3.8/site-packages/tcn

However, when I open an insta

[2021-06-04 16:23] strokovnjaka opened #207 "Receptive field description and examples"
My 5cents to the _"In theory, the 2 is not justified. We are still not sure why in practice we need to add this 2 in the formula."_ question, as stated in the [README](https://github.com/philipperemy/keras-tcn#receptive-field).

The *2* is there because there are two `Conv1d` layers in a single `ResidualBlock`.

First, note that the cited [paper](https://arxiv.org/abs/1803.01271) states _"This giv

[2021-06-08 07:31] rmndrs89 opened #208 "How to calculate the number of trainable parameters?"
Hello all,

I do not intend to report a bug, but rather to ask a question as I do not understand how I can derive the number of trainable parameters for the TCN layer.
Normally, in a 1D convolutional layer, if I am not mistaking, it would simply the kernel size * number of filters + number of filters (i.e., the weights plus bias).
However, for example, for an input and model architecture like:

-

[2021-06-15 15:38] #206 closed

[2021-06-16 13:46] strokovnjaka commented on #208
Let me try:

- the first conv1D layer has `nb_filters*(input_dim*kernel_size + 1)` trainable parameters
- add to that additional `nb_filters*(input_dim+1)` for 1x1 conv to match the input shape (channel dimension) IF `nb_filters != input_dim` [reference](https://github.com/philipperemy/keras-tcn/blob/078901b98e8538b85b5d40953ca8fc52ad9274e0/tcn/tcn.py#L116)
- all the rest conv1D layers have `nb_fi

[2021-06-18 10:41] rmndrs89 commented on #208
I have yet to go over it in detail, but I thank you for the reply. It seems to make sense to me, and I know where my reasoning went in the wrong direction.

Thanks!

[2021-06-21 07:33] #208 closed

[2021-06-21 07:45] rmndrs89 commented on #208
@strokovnjaka; Super, I have checked it for some different settings, and it is right. My main issue was in the 1x1 (optional) conv layer, that -I think- will only be present in the first residual block in case the number of channels, `input_dim`, is not equal to `nb_filters`, and thereafter for the residual blocks the `input_dim` will always be equal to `nb_filters`.

[2021-06-21 08:03] strokovnjaka commented on #208
@rmndrs89 ups, I just spotted the inconsistency.

The formula is not general, it is only valid if `nb_filters` is an `int` and not a `list`. In the latter case, 1x1conv layers are added to residual blocks where `nb_filters` change. Compare e.g. [this paper on page 4](https://arxiv.org/pdf/1512.03385.pdf)

[2021-07-06 16:43] Kartik-Singhal26 opened #209 "The following Variables were used a Lambda layer's call (tf.nn.bias_add_252), but are not present in its tracked objects"
**Describe the bug**
WARNING:tensorflow:
The following Variables were used a Lambda layer's call (tf.nn.bias_add_252), but
are not present in its tracked objects:
  <tf.Variable 'tcn_17/residual_block_11/conv1D_0/bias:0' shape=(32,) dtype=float32>
It is possible that this is intended behavior, but it is more likely
an omission. This is a strong indication that this layer should be
formulated as a

[2021-07-09 11:51] wailam2323 opened #210 "saving a model"
Hello,
I dont know if its a feature request or a bug report but if i try to save the model, it gives me errors.

[2021-07-09 12:09] #210 closed

[2021-07-09 17:16] jjfaj opened #211 "tcn_full_summary"
**Describe the bug**
When I use your sample code, I get the error below...

**Paste a snippet**
tcn_full_summary(model=m, expand_residual_blocks=False) and I get the error below:

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-53-dc84ca904ad7> in <module>()
      1
----> 2 tcn_fu

[2021-07-21 16:40] ktakanov opened #212 "How to freeze TCN layer?"
I realized that TCN layer does not has 'trainable' property, how can we freeze it's layers?

[2021-07-28 11:40] philipperemy commented on #211
@jjfaj TF 2.5 broke the compatibility with this function. Try to use 2.4 in the mean time while we find a way to fix it.

[2021-07-30 19:40] philipperemy commented on #212
Great question. The TCN is a Temporal Convolutional Network. It's not technically a layer although it inherits from the Keras Layer object. It's closer to a Model. The choice was motivated to be able to easily swap the LSTM and TCN classes for comparison.

Now, yeah we can add a trainable property. In theory, we have the list of all the layers when we build the TCN layer. So we can just loop over

[2021-07-30 20:02] philipperemy commented on #212
I checked and you can actually just set `.trainable = False` to your TCN layer. All the subsequent layers will be recursively set to trainable=False. They mention about it here:
https://keras.io/guides/transfer_learning/
Look for: Recursive setting of the trainable attribute

[2021-08-07 20:16] farzinaa opened #215 "Question: Multivariate TCN"
Hi,
I Have a question about the dependencies of the elements in an input sequence: Is there anyways to learn the relationship of such element?
For example in the exchange task there are 8 currencies. My understanding is that removing half of these currencies would not effect the prediction of the other four. OR adding extra features is redundant and will not effect the outcome of the prediction. I

[2021-08-10 03:53] mmawwxx opened #216 "Parallel training of TCN"
Hi TCN fans,

Recently I'm trying to use TCN to achieve some forecasting works, and it works pretty well. I just have one question regarding the TCN training. As mentioned in the introduction document, one advantage of the TCN model is that it can be trained in parallel, because in each layer the kernels are the same and there is no sequential waiting issues like LSTM and RNN. My question is, such

[2021-08-10 07:02] zinuok opened #217 "Activation: 'LeakyReLU'"
Is there a separate list of activation functions available? I searched [model definition](https://github.com/philipperemy/keras-tcn/blob/master/tcn/tcn.py), but only [linear, sigmoid, and relu] are used, so I wonder if only these three are supported.

I want to use LeakyReLU, but is it a feature that is not supported?

Beste regards,
Jinwoo Jeon

[2021-08-10 09:58] LiamRMoore opened #218 "Possible bug in use_skip_connections"
Hey folks,

I've been playing around a bit with the TCN model class and just wanted to check with you whether there is an issue in the way that the skip connections are included.

The residual block returns two outputs:

https://github.com/philipperemy/keras-tcn/blob/2483cd99da5c97cda9763cb9d61baba56436e172/tcn/tcn.py#L151-L156

https://github.com/philipperemy/keras-tcn/blob/2483cd99da5c97cda9763c

[2021-08-10 13:47] mmawwxx commented on #216
btw, I compared the training time of TCN and CNN-LSTM. I set up them to have similar parameter scales. The results show that both of them takes about 5-10min to finish training, and in many cases CNN-LSTM is even faster...So I thought if this is because I didn't set up the parallel computation correctly...

[2021-08-29 22:35] sunwell1994 commented on #161
It really makes sense. Even though all TCN implementations discuss the relationship between real-time and causal convolution, there is no such real-time version. I find the implementation is really challenging but it is possible in theory. The main concern is the efficiency since the whole sequence input can take advantage of parallelism but the one-by-one input design has less parallelism.

[2021-09-21 10:22] RomanKrajewski commented on #218
I think the error is in the documentation. If i understood the code correctly, the skip_out connections connect the output of each residual block directly to the output of the TCN. In the documentation it says the skip_connections parameter specifies whether there should be a skip connection from the input to each residual block.

The skip connections inside the residual block are not affected by

[2021-10-16 14:04] #205 closed

[2021-11-08 20:22] loySoGxj commented on #215
What kind of problem (background) are you thinking about exactly?

[2021-11-08 20:41] loySoGxj commented on #215
Looking at the above url, it looks like a mixture of non-causal TCN and TCN. What kind of problem (background) are you thinking about?
At least it doesn't seem to apply to time series.

[2021-11-08 20:41] loySoGxj commented on #170
Looking at the above url, it looks like a mixture of non-causal TCN and TCN. What kind of problem (background) are you thinking about?
At least it doesn't seem to apply to time series.

[2021-11-08 20:50] farzinaa commented on #215
I am trying to predict time series with multiple features. The data are pressure in each valve in a system where valves are connected through pipes and pressure in valve A is always grater than pressure in valve B and pressure in valve C is lower than in valves B.
I use sequences of [A, B, C, ...]. However sometimes the predicted value of B is grater than value of A.

[2021-12-02 13:39] rmndrs89 commented on #197
I have just started training a model that includes a TCN layer (see: [here](https://github.com/rmndrs89/gait-events-tcn)), and get these warnings:

2021-12-02 12:08:44.140500: W tensorflow/python/util/util.cc:348] Sets are not currently considered sequences, but this may change in the future, so consider avoiding using them.
WARNING:absl:Found untraced functions such as residual_block_0_layer_call

[2021-12-02 13:53] Luux commented on #197
@rmndrs89 According to what others write in the linked issue, unexpected things such as broken models might happen. I invite you to join the 36 participants on their epic journey of waiting for some response of the tf devs...

[2021-12-07 03:19] zshuxin1113 opened #219 "ImportError: cannot import name 'LayerNormalization' from 'tensorflow.python.keras.layers.normalization'"
Could you please help me?

**Describe the bug**
ImportError: cannot import name 'LayerNormalization' from 'tensorflow.python.keras.layers.normalization'

**Paste a snippet**
Traceback (most recent call last):
  File "test_tcn.py", line 1, in <module>
    from tcn import TCN, tcn_full_summary
  File "/common/home/sz517/.conda/envs/scooter/lib/python3.8/site-packages/tcn/__init__.py", line 1, in <mo

[2021-12-29 06:50] SujanaC opened #220 "Default value of kernel_size"
**Describe the bug**
It seems that TCN has a default kernel_size of 2 but the documentation indicates a value of 3. Could you please check this and fix the documentation?

**Paste a snippet**
from tcn import TCN, tcn_full_summary

time_steps = 10
input_dim = 2
tcn_layer = TCN(input_shape=(time_steps,input_dim), nb_filters=1, use_skip_connections=False)

tcn_layer.get_config()

**Dependencies**
I a

[2022-01-20 06:24] philipperemy commented on #220
Maybe update to the latest version?

[code]

[code]

Where `test.py` contains:
[code]

[2022-01-20 06:24] #220 closed

[2022-01-20 06:34] philipperemy commented on #219
I don't have any errors when I installed tensorflow 2.4.0 from scratch and I run the import.

Can you double-check?

[code]

[code]

[2022-01-20 06:37] philipperemy commented on #219
Try to run:

[code]

where python is the interpreter of your virtual environment

[2022-01-20 06:39] philipperemy commented on #219
But my guess is
- try to re-install your virtual environment.
- re-install `keras-tcn`
- update to the latest version of tensorflow.

It should work. The CI works well with TF2.4,2.5,2.6,2.7,2.8.

Let me know if you need more help. I'll close this issue for now.

[2022-01-20 06:39] #219 closed

[2022-01-20 06:40] philipperemy commented on #217
@zinuok hey sorry for the late reply. I'm going to push an update for you to be able to specify other activation functions like LeaKyRelu.

[2022-01-20 06:50] philipperemy commented on #217
@zinuok sorry for the late reply.

Yes (almost) all activations here are supported:

![image](https://user-images.githubusercontent.com/4516927/150288061-32ed3284-b55a-4ce7-8155-6344ecb06a5b.png)
From https://keras.io/api/layers/

**Example**

[code]

[2022-01-20 06:50] #217 closed

[2022-01-20 07:04] philipperemy commented on #209
@Kartik-Singhal26 thanks for reporting. This WARNING seems pretty harmless. You should not worry about it.

I cannot reproduce it with tensorflow 2.5.0 on my laptop with CPU. Neither with 2.7.0.

So I will close this issue. Feel free to comment if I am wrong about it.

[2022-01-20 07:04] #209 closed

[2022-01-20 07:09] philipperemy commented on #197
@rmndrs89 All the Lambda layers used in the keras-tcn module do not contain trainable parameters. So I would say that you can safely ignore them. It would be more "dangerous" if some Lambda contained trainable parameters and could not be properly serialized.

[2022-01-20 07:15] philipperemy commented on #197
We have some serialization testing in here: https://github.com/philipperemy/keras-tcn/blob/master/tasks/save_reload_sequential_model.py

[2022-01-20 07:41] philipperemy commented on #197
My guess is: The WARNING results from this layer https://github.com/philipperemy/keras-tcn/blob/master/tcn/tcn.py#L294 not being built beforehand.

[2022-01-20 08:46] philipperemy commented on #212
Here is an example.

- I print the weights before and after training. They are the same for the TCN (I only checked for one block of the TCN).
- The accuracy is stuck at 50%. On this task, you can easily achieve 85%. You can easily check by changing trainable to True.

[code]

[2022-01-20 08:46] #212 closed

[2022-01-20 09:50] philipperemy commented on #211
I'll do my best to provide a version compatible for tensorflow 2.5+

[2022-01-20 10:00] #215 closed

[2022-01-20 10:01] philipperemy commented on #216
@mmawwxx good point. Some parts were discussed in this issue: https://github.com/philipperemy/keras-tcn/issues/69

[2022-01-20 10:02] farzinaa commented on #215
Thank you. It is all clear now.

[2022-01-20 10:03] philipperemy commented on #216
Ideally, some computations could be re-used when forecasting step by step. I think that's what you wanted to say. It is not the case at the moment. Every time you call predict(), all the computations are done from scratch. So it's not really efficient for real-time forecasting. But that's how Keras works I guess. Optimizing it would be insanely difficult in my opinion. Probably pytorch would be a

[2022-01-20 13:47] philipperemy commented on #207
@strokovnjaka thank you so much! I will update the README ;)

[2022-01-20 13:53] philipperemy commented on #195
**TL;DR: Upgrade your tensorflow version**

Okay so this was fixed in the recent versions of Tensorflow.

I can say that this code runs fine on tensorflow 2.7.

[code]

[2022-01-20 13:53] #195 closed

[2022-01-20 13:57] philipperemy commented on #186
@murphycrosby have you ever had the chance to try on a more recent version of TF?

[2022-01-20 14:06] philipperemy commented on #204
@swapnilsayansaha sorry for the late reply. Two default parameters have changed from 3.3.0 to 3.4.0: `kernel_size` and `use_skip_connections`.

For your problem it seems better to use a smaller kernel size (2), without skip connections.

**Change from 3.3.0 to 3.4.0**

![image](https://user-images.githubusercontent.com/4516927/150353454-0ffe7d82-e111-453d-a2db-19bc78a1f775.png)

**3.4.0 with the s

[2022-01-20 14:06] #204 closed

[2022-01-20 14:08] #179 closed

[2022-01-20 14:46] clearly-outsane commented on #179
thanks for the update :) I'd almost forgotten about it

[2022-01-21 03:33] philipperemy commented on #207
https://github.com/philipperemy/keras-tcn/commit/d51c4ea0cb6538bb9c49261b64da0d1ee05a223b

[2022-01-21 03:33] #207 closed

[2022-01-21 05:22] philipperemy commented on #218
Hey guys,

I will update the README.

Here is the structure of one residual block (using tensorboard):

`tensorboard --logdir logs`

And I added:

[code]

As a callback in the `.fit()` function

![image](https://user-images.githubusercontent.com/4516927/150470255-248ec4ea-c54d-4614-bfb1-4493970f4785.png)

The skip connections connect the output of each dilated conv stack (and not the residual) of

[2022-01-21 09:22] philipperemy commented on #211
So guys after many attempts, I could not get anything satisfactory. I think we should all move to tensorboard.

Something like that is more visual:

![image](https://user-images.githubusercontent.com/4516927/150500775-194a7643-4987-437b-9735-57a5a214fa93.png)

I posted an example on how to use it: https://github.com/philipperemy/keras-tcn/blob/master/tasks/tcn_tensorboard.py.

I will deprecate the

[2022-01-21 09:22] #211 closed

[2022-01-21 09:27] philipperemy commented on #218
I'll this issue now. But feel free to re-open it. I pushed a new version 3.4.1 reflecting the updates (mostly renaming variables and README).

[2022-01-21 09:27] #218 closed

[2022-01-21 09:33] philipperemy commented on #197
So in the version 3.4.1, I built the Lambda layer beforehand.

The first few warnings are harmless.

I will close this issue but feel free to re-open it should the warnings related to the Lambda subsist.

Thanks!

[2022-01-21 09:33] #197 closed

[2022-01-21 09:58] mmawwxx commented on #216
@philipperemy Thanks for the response ! Actually after checking issue #69, I think my case is pretty similar with #69 . I also set the return sequence to false and only keep a single slice in the last layer. As a result, the computation for the rest slices of the last layer is wasted. Regarding this, I have two follow up questions that wish I could get some of your suggestions:
(1) Currently I'm d

[2022-01-21 11:57] evanharwin opened #223 "Dilations Parameter Advice"
Firstly, the documentation in this readme is really good, it's been a great help to me working out the TCN architecture.

I had a quick question on this line:
https://github.com/philipperemy/keras-tcn/blob/81706eaabc069ad27a1786625bbf731b247bf2f0/README.md?plain=1#L129
![image](https://user-images.githubusercontent.com/20156105/150522857-22977b82-31c6-4f5c-9fcc-b7ab41f947ba.png)

When you refer to

[2022-01-21 13:38] philipperemy commented on #216
That's what I was expecting. My points:
- In theory you should just learn P(X_t+1 | X_0,...,X_t) and you could call the model 24 times by re-using the predictions as previous inputs. The problem is that the errors will add. And 24 times is not trivial.
- Your methodology looks good to me. You have some sort of seq-to-seq architecture. And I don't see anything wrong here.
- Like you said a Dense(24

[2022-01-21 14:03] philipperemy commented on #223
@evanharwin thank you very much! A TCN model is more or less a stack of layers containing "a trous" (dilated) convolutions. The `dilations` parameter controls how dilated each convolution is in the network.

If you specify `d=[1,2,4,8]`,
- you will have 4 layers because `len(d)=4`.
- `d[0]=1` is your first dilated layer with `dilations=1`. You can read the doc of dilated conv here: https://www.ten

[2022-01-21 14:06] mmawwxx commented on #216
Hi Philipperemy,

Thanks so much for your insight. That helps a lot !

Best
Yiyan

On Fri, Jan 21, 2022 at 9:39 PM Philippe Rémy ***@***.***>
wrote:

--
Yiyan Li, Ph.D.
Postdoc Researcher
NSF FREEDM Systems Center
North Carolina State University
Raleigh, NC, 27607
Tel: 919.903.1199

[2022-01-21 14:08] #216 closed

[2022-01-21 14:41] evanharwin commented on #223
Wow thanks for that ♥

That makes a lot of sense. It's a little tricky transferring the understanding from image CNN's, but the exponential dilations are pretty smart.

Do you think it's worth me making a PR like this? or shall I leave it be?

[code]

If you think it's good how it is, free to close this issue right away 🙂

[2022-01-23 23:57] #223 closed

[2022-01-28 18:32] lminer commented on #170
Perhaps a value error should be raised if `use_skip_connections` is true and `nb_filters` is a list with non-equal elements.

[2022-01-29 00:14] philipperemy commented on #170
@lminer good idea.

[2022-01-29 00:19] philipperemy commented on #170
@lminer done: https://github.com/philipperemy/keras-tcn/commit/07e85e3f6a1c836af942956eb299841588dac77d

[2022-01-31 10:03] daniel-v-e opened #225 "Support for Bidirectional Layer"
Could this TCN implementation hypothetically be modified so that it can be wrapped by `tf.keras.layers.Bidirectional` ?

Currently it is not possible, as layers need the `go_backwards` attribute in order to be wrapped by the bidirectional layer - see https://www.tensorflow.org/api_docs/python/tf/keras/layers/Bidirectional

[2022-02-01 02:04] philipperemy commented on #225
@daniel-v-e I don't think it's that hard to implement it.
- We need to add `go_backwards` in the constructor.
- If `go_backwards=True`, we need to flip the time dimension before the TCN layers are called.

[2022-02-01 02:12] philipperemy commented on #225
@daniel-v-e I am not sure how hard it is to implement it. I forgot a bit how `Bidirectional` works. Is it concatenating the outputs at each step from two RNNs going forward and backwards? Does it involve "merging" the states (cells) when doing that? Because TCN don't have states compared to GRU or LSTM.

If it's just concatenating outputs at each step where each TCN is independent, then it's def d

[2022-03-07 08:02] d-01 opened #226 "Incorrect receptive field"
## A description of what the bug is

There are two problems with a receptive field:

1. An effective receptive field size (see tests below) doesn't match a calculated size (`receptive_field` attribute).
1. TCN layer with dilation=1 have holes (blind spots) in a receptive field.

## A snippet

The test code demonstrates which positions in the input sequence affect the output.

Test code ([Google Co

[2022-03-10 17:51] d-01 commented on #226
Sorry for bothering, it was my mistake.

While testing, the relu activation should be disabled (`activation=None`). The output will be:
[code]

I realized it after implemented TCN myself and got the same "bag" ¯\\_(ツ)_/¯.

[2022-03-10 17:51] #226 closed

[2022-03-11 12:59] qq492947833 opened #227 "What does' timestep 'in the input dimension mean?"
I'm really sorry. I'm a novice in machine learning. When I use TCN, the input dimension contains' timestep '. I can't understand the meaning of this dimension. In my experience, 'translations' and' kernel_ Size 'these two parameters should control the prediction step.For example,if  'definitions' is [1,2,4], while' kernel_ size 'is 2, it means that the first 1-7 variables entered are used to predi

[2022-03-12 05:28] Daisy8po opened #228 "Target variable prediction With time series: separate train and test set"
I need to predict a target variabile using a tcn model based on time series.

Now i follow your code of milk production but i need to consider in the X array all the features of my dataset as predictors, instead on the y i need only one features, my target.
how can i solve this?

Furthermore i have indeed two separated dataset, one for train and one for test, so i need to create from they my coupl

[2022-03-15 09:41] Vishu26 opened #229 "TCN for Time Series Image Classification"
I want to classify images where the features (channels) represent each time step. So, the input to TCN would have `input_shape=(None, timesteps, height, width)`. The idea here is to incorporate spatial and temporal information for classification at the same time.

Is there a possibility I can modify TCN to use it as a ConvLSTM2D layer?

[2022-03-19 13:26] 943fansi opened #230 "ValueError: Cannot serialize LeakyReLU since it doesn't implement `get_config()`, and also doesn have `__name__`"
**Describe the bug**
when use plot_model, raise ValueError

`model define`:
[code]
[code]
`tf.__version__`: 2.8.0

want to get model's png like
https://github.com/philipperemy/keras-tcn/issues/112

[2022-04-04 20:41] krzim commented on #186
@murphycrosby Have you tried swapping out the TCN for another model to see if the issue persists? I'd be curious to see if it were actually related to the TCN training in particular or if it's an oddity related to PipeModeDataset. I would also like to see how you are setting up model training in SageMaker and what instance, options, etc. you are using.

It sounds sort of similar to this issue [her

[2022-04-24 07:41] philipperemy commented on #227
@qq492947833 refer to this tutorial: https://www.tensorflow.org/guide/keras/rnn.

Timesteps is the time dimension. Any recurrent layer in Keras expects a 3D-tensor `(batch_size, time_dim, input_dim)` as input and will output `(batch_size, output_dim)` if `return_sequences=False` or `(batch_size, time_dim, output_dim)` if `return_sequences=True`

You don't need to think about how the TCN works inte

[2022-04-24 07:45] philipperemy commented on #228
@Daisy8po I'm not sure exactly what you mean by that. Can you detail a bit more, maybe give a concrete example with numbers?

[2022-04-24 07:50] philipperemy commented on #228
The TCN layer input/output work exactly like an LSTM. If your X is multivariable and your Y univariate, you're looking at a Many-To-One regression problem. You can google "Keras LSTM many to one regression". And in any tutorial you can swap the LSTM class by the TCN class and it should work seamlessly.

[2022-04-24 07:53] philipperemy commented on #229
@Vishu26 you can't do it with TCN unless if you reshape your input to `(None, timesteps, height * width)`. Which is perfectly fine in terms of performance.

There's an example that can do that. It's called MNIST pixel: https://github.com/philipperemy/keras-tcn/tree/master/tasks/mnist_pixel.

You can refer to the original paper in the README to learn about the task.

[2022-04-24 11:31] qq492947833 commented on #227
Thank you very much for your answer,I have one last question: Does a sensory field in TCN repeat with the timesteps? Can TCN with a timesteps of 8 and A TCN with a sensory field of 8 get the same result (because there is no concept of receptive wild in LSTM and RNN)?

非常感谢您的回答，我还有最后一个问题：TCN中的感受野是否和timesteps重复？timesteps为 8 的 TCN 和感受野为 8 的 TCN 能否获得相同的结果（因为在 LSTM 和 RNN 中没有感受野的概念）？

[2022-04-25 00:02] philipperemy commented on #227
@qq492947833 in LSTM and RNN, there is the concept of memory. The bigger the LSTM/RNN is, the more memory it will have. Which means the further in the sequence it can remember. But most LSTM/RNN can't remember more than 50 steps back in time (by construction, the gradient propagation somehow vanishes a bit at every step, look for BPTT).

With TCN you can control how far the network can see in time

[2022-04-30 11:57] qq492947833 commented on #227
I am very grateful to you！I wish you a smooth scientific research and a happy life!

[2022-05-01 12:33] philipperemy commented on #227
@qq492947833 likewise thank you very much!

[2022-05-01 12:33] #227 closed

[2022-05-03 17:24] gdupret opened #231 "setup.py requirements on mac os"
At least for M1 machine:

[code]

instead of

[code]

[2022-05-06 07:20] philipperemy commented on #231
@gdupret do you have examples of other repos? I'm not sure about the best way to do that.

[2022-05-06 07:35] psomers3 commented on #231
maybe simply just something like:
[code]

[2022-05-06 11:24] philipperemy commented on #231
@gdupret can you try to run this pip install and let me know if it works on your Mac M1?

[code]
If it does not work, you might have to run some of those commands beforehand:

[code]

The two problematic packages are `grpcio` and `h5py`.

[2022-05-06 13:44] gdupret commented on #231
I made a clean install on a virtual environment,`pip install keras-tcn-macos==1.0` and ran tasks/exchange_rate/demo.ipynb successfully. Thank you for the fix!

[2022-05-06 23:44] philipperemy commented on #231
@gdupret okay then I'll push it to the main branch then!

[2022-05-07 05:51] philipperemy commented on #231
The compatibility with MacOS was pushed in 3.4.3. Please install it that way:

[code]

The wheel was made for Linux and not for the Mac M1. Using `--no-binary` forces `pip` to download the sources and compile it.

[2022-05-07 05:51] #231 closed

[2022-05-11 06:18] philipperemy commented on #230
Fixed in https://github.com/philipperemy/keras-tcn/commit/05cfa3da1469aed2499ab6b7aef9f37023c9833e

[2022-05-11 06:18] #230 closed

[2022-05-11 06:20] philipperemy commented on #230
Keras TCN 3.4.4 pushed. Please update.

[2022-05-11 06:36] #228 closed

[2022-05-11 06:36] #229 closed

[2022-05-11 08:25] Vishu26 commented on #229
Thank you for the reply! I found a nice paper which implements what I need - https://arxiv.org/abs/1811.10166

[2022-05-11 14:48] philipperemy commented on #229
Good to hear!

[2022-07-11 14:43] arvind267 opened #234 "How do I use a masking layer for TCN? I want to mask certain time steps which are missing."

[2022-07-20 11:31] philipperemy commented on #234
@arvind267 from what I remember the MaskingLayer is not supported with TCN.

Cf https://github.com/philipperemy/keras-tcn/issues/185

[2022-08-04 13:33] soso-maitha opened #235 "ValueError: Unknown layer: TCN when trying to load saved model"
Hello,

I get the following error after loading the model. I don't get this error with other saved models. Kindly advise as I have sumbssion shortly and I took more than 5 hours to train a complex model I don't have time.

Thank you very much in advance

[code]

[2022-08-04 13:39] psomers3 commented on #235
Take a look how this is done here:
[https://github.com/philipperemy/keras-tcn/blob/master/tasks/save_reload_sequential_model.py](https://github.com/philipperemy/keras-tcn/blob/master/tasks/save_reload_sequential_model.py)

[2022-08-04 21:14] soso-maitha commented on #235
thanks a lot for your prompt support it is working. i will reference your code and paper in my report.
Great work!

[2022-08-07 09:14] philipperemy commented on #235
@psomers3 Thanks a lot for helping out!

[2022-08-07 09:14] #235 closed

[2022-09-12 06:09] rhaghi opened #237 "Dilations and nb_stack relationship"
Hi,
First, thanks a lot for making this package. It is very beneficial to me.
I am trying to make a NN model with the following code, but I face some issues I don't understand. I want the dilation to be one single number. Something like `dilations = (2,)`. The code is:

[code]

And then the error is:

    ValueError: Exception encountered when calling layer "tcn_56" (type TCN).

    in user code:

[2022-09-21 03:23] #225 closed

[2022-09-21 04:47] philipperemy commented on #225
@daniel-v-e Bidirect has been implemented.

You can check it here: https://github.com/philipperemy/keras-tcn/commit/a412190a56dc6ebe67f16d5c63a49ac3d4eb1ba7.

Ref: https://keras.io/examples/nlp/bidirectional_lstm_imdb/

[2022-09-21 05:06] philipperemy commented on #237
@rhaghi I think it's a bug. TCN does not seem to work with a dilation of just one value. There's a merge layer somewhere that is problematic. I'll see how to fix that.

[2022-09-21 05:06] philipperemy commented on #237
For the loss, I guess it's normal that it's high at the beginning if you stack layers.

[2022-09-21 05:38] philipperemy commented on #237
That one should fix it: https://github.com/philipperemy/keras-tcn/pull/238.

[2022-09-21 05:38] #237 closed

[2022-09-21 05:42] philipperemy commented on #225
Pushed in 3.5.0.

[2022-09-21 05:42] philipperemy commented on #237
Pushed in 3.5.0.

[2022-09-24 13:20] yanghui-wng opened #239 "The parameter of the TCN"
I am studying the code about TCN on github (https://github.com/philipperemy/keras-tcn). The number of parameters of the TCN I calculated is different from the answer of the function "model.summary()". The parameter of TCN layer that calculated by the function "model.summary()" is 153500, but I am not clear about how to calculate this value and I am trying to calculate the value, but the result is

[2022-09-25 14:56] philipperemy commented on #239
@yanghui-wng here is a detailed version of the weights contained in the TCN model:
[code]

[2022-09-25 14:57] philipperemy commented on #239
And here are the TCN blocks (the breakdown by block):

[code]

[2022-09-25 15:03] philipperemy commented on #239
Here is the graph of your model. I used tensorboard for this. You can generate it yourself and explore each node of your model.

![train (2)](https://user-images.githubusercontent.com/4516927/192150430-9a8a0a19-e9b1-406f-b1a6-8ee3dcf43664.png)

[2022-09-25 15:04] philipperemy commented on #239
To reproduce it you can run this script:

[code]

Run it and a folder called `logs_tcn` should be generated. In the same directory run:

[code]

And go to http://localhost:6006/.

Select GRAPH and you will see it:

<img width="1311" alt="image" src="https://user-images.githubusercontent.com/4516927/192150502-778957b2-56b9-4b54-9756-2d1b8a9eec90.png">

[2022-09-25 15:05] philipperemy commented on #239
I guess with all those tools, you should be able to have an answer.

[2022-09-25 15:36] philipperemy commented on #234
Like this: https://keras.io/api/layers/core_layers/masking

[code]

[2022-09-25 15:37] philipperemy commented on #234
I'm adding more comments here. Might be useful for later. It seems to work correctly because:

[code]
The model will output only zeros. If we change it to `inputs[:, :, :] = 2.`, the model will output different values.

Another example:

[code]

[2022-09-25 15:37] #234 closed

[2022-09-25 15:43] philipperemy commented on #139
Yes, you are right. The 1-D fully convolutional layer is gone and I think it is because we found that removing it boosted the performance (or did not deteriorate the performance of the model, cf. Occam razor). I agree that we don't match the original paper 100% now because of this change.

[2022-09-25 15:43] #139 closed

[2022-09-25 15:45] philipperemy commented on #170
I'll close this as I don't think we need to do any dev on that one. Re-open if I'm wrong.

[2022-09-25 15:45] #170 closed

[2022-09-26 06:12] yanghui-wng commented on #239
Thank you for your help! Through your explanation, I have known how to calculate the parameters of TCN.

[2022-09-26 06:53] philipperemy commented on #239
Good to hear!

[2022-09-26 06:53] #239 closed

[2022-10-03 06:10] arvind267 commented on #234
Thank you so much @philipperemy!

[2022-10-17 21:22] fsbashiri opened #240 "Masking time steps in order to use TCN for variable length sequences"
**Describe the bug**
In my project, I am using TCN for sequence-to-sequence analysis of time series data that have variable lengths. I have defined a subclass of the Sequence class that pads each batch of data to its maximum sequence length (similar to what is suggested [here](https://stanford.edu/~shervine/blog/keras-how-to-generate-data-on-the-fly#data-generator)). As for the model, I use a mask

[2022-11-07 07:16] philipperemy commented on #240
@fsbashiri thanks for reporting! I have no clue at the moment why. We can investigate more.

[2022-11-18 07:22] Alan29535 opened #241 "data shape of tcn layer"
I would like to ask what is the output data shape from TCN layers. Currently, I am trying to combine TCN and transformer together. However, I cannot pass the output data of TCN  to the transformer directly.
I think it's because the output data shape of TCN is not the same as the input data shape for the transformer.
So could anyone tell me how to check the output data shape of TCN, or please give

[2022-11-29 09:22] volvox292 opened #242 "help one regression per sequence"
Hi,

I tried to read through your very nice package and created a new model for training that would fit for my sequences. My x data are sequences of variable length  padded to max len of 2002 and the y is my encoded array (512). Were one sequence corresponds/describes  one such array of 512. Probably I understand something wrong, I tried different reshaping but could not get the model to predict d

[2022-11-30 06:18] hayden-lo commented on #164
Hi, I met the same problem as yours, did you solve in the end?